<!DOCTYPE html>
<html ng-app="cmod" lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <base href="/">
    <!--CSS External-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--CSS Local-->
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/jbrowse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/jquery-ui.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/landing_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">


    <!--JS External-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>


    <script src="{% static 'wiki/js/cytoscape.js' %}"></script>
    <script src="{% static 'wiki/js/ui-bootstrap-tpls-2.3.0.min.js' %}"></script>
    <script src="{% static 'wiki/js/external_js/dirPagination.js' %}"></script>

    <script src="{% static 'wiki/js/external_js/ng-file-upload/ng-file-upload-shim.min.js'  %}"></script>
    <script src="{% static 'wiki/js/external_js/ng-file-upload/ng-file-upload.min.js'  %}"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>


    <!--JS Local-->
    <script src="{% static 'wiki/js/app/app.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/app.config.js' %}"></script>

    <script src="{% static 'wiki/js/app/filters/filters-service.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/filters/filters-service.filters.js' %}"></script>

    <script src="{% static 'wiki/js/app/browser-page/browser-page.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/browser-page/browser-page.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/organism-form/organism-form.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/organism-form/organism-form.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/gene-form/gene-form.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/gene-form/gene-form.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/landing-page/landing-page.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/landing-page/landing-page.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/main-page/mainpage-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/main-page/mainpage-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/resources/resources.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/resources/resources.service.js' %}"></script>

    <script src="{% static 'wiki/js/app/gene-view/gene-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/gene-view/gene-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/protein-view/protein-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/protein-view/protein-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/organism-view/organism-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/organism-view/organism-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/jbrowse-view/jbrowse-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/jbrowse-view/jbrowse-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/annotations-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/annotations-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/gene-ontology-view/gene-ontology-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/gene-ontology-view/gene-ontology-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/interpro-view/interpro-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/interpro-view/interpro-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/operon-view/operon-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/operon-view/operon-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/operon-view/operon-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/operon-view/operon-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/go-form/go-form.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/go-form/go-form.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/genomic-position/genomic-position.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/genomic-position/genomic-position.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/enzyme-view/enzyme-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/enzyme-view/enzyme-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/all-genes-download/allgenes-download.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/all-genes-download/allgenes-download.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/operon-form/operon-form.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/operon-form/operon-form.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/organism-tree/organism-tree.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/organism-tree/organism-tree.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/authorization/oauth.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/authorization/oauth.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/genes-keyword-browser/genes-keyword.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/genes-keyword-browser/genes-keyword.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/keyword-form/keyword-form.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/keyword-form/keyword-form.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/keyword-paginated/keyword-paginated.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/keyword-paginated/keyword-paginated.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/mutants-view/mutants-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/mutants-view/mutants-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/linked-pubs/linked-pubs.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/linked-pubs/linked-pubs.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/annotations-view/ortholog-view/ortholog-view.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/annotations-view/ortholog-view/ortholog-view.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/mutant-forms/mutant-single-form.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/mutant-forms/mutant-single-form.component.js' %}"></script>

    <script src="{% static 'wiki/js/app/functional-annotation/functional-annotation.module.js' %}"></script>
    <script src="{% static 'wiki/js/app/functional-annotation/functional-annotation.component.js' %}"></script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91585082-2', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>

{%csrf_token%}
<div style="height: 100%" class="ng-view"></div>
</body>
</html>