<!DOCTYPE html>
<html ng-app="cmod" lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <base href="/">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="{%  static 'wiki/img/favicon.ico' %}">
    
    <!--CSS External-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <!--CSS Local-->
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/jbrowse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/jquery-ui.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/landing_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/js/external_js/intro.js/introjs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/js/external_js/intro.js/themes/introjs-flattener.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">

    <!-- MSA Viewer -->
    <script src="https://cdn.bio.sh/msa/1.0/msa.min.gz.js"></script>

    <!--JS External-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>


    <script src="{% static 'wiki/js/cytoscape.js' %}"></script>
    <script src="{% static 'wiki/js/ui-bootstrap-tpls-2.3.0.min.js' %}"></script>
    <script src="{% static 'wiki/js/external_js/dirPagination.js' %}"></script>

    <script src="{% static 'wiki/js/external_js/ng-file-upload/ng-file-upload-shim.min.js' %}"></script>
    <script src="{% static 'wiki/js/external_js/ng-file-upload/ng-file-upload.min.js' %}"></script>

    <script src="{% static 'wiki/js/external_js/intro.js/intro.js' %}"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>


    <!--JS From Dist (BUILD) -->
    <script src="{% static 'build/js/app/app.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/app.config.min.js' %}"></script>

    <script src="{% static 'build/js/app/filters/filters-service.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/filters/filters-service.filters.min.js' %}"></script>

    <script src="{% static 'build/js/app/browser-page/browser-page.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/browser-page/browser-page.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/organism-form/organism-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/organism-form/organism-form.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/gene-form/gene-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/gene-form/gene-form.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/landing-page/landing-page.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/landing-page/landing-page.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/main-page/mainpage-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/main-page/mainpage-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/resources/resources.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/resources/resources.service.min.js' %}"></script>

    <script src="{% static 'build/js/app/gene-view/gene-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/gene-view/gene-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/protein-view/protein-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/protein-view/protein-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/organism-view/organism-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/organism-view/organism-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/jbrowse-view/jbrowse-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/jbrowse-view/jbrowse-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/annotations-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/annotations-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/gene-ontology-view/gene-ontology-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/gene-ontology-view/gene-ontology-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/interpro-view/interpro-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/interpro-view/interpro-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/operon-view/operon-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/operon-view/operon-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/operon-view/operon-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/operon-view/operon-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/go-form/go-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/go-form/go-form.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/genomic-position/genomic-position.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/genomic-position/genomic-position.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/enzyme-view/enzyme-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/enzyme-view/enzyme-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/all-genes-download/allgenes-download.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/all-genes-download/allgenes-download.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/operon-form/operon-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/operon-form/operon-form.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/organism-tree/organism-tree.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/organism-tree/organism-tree.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/authorization/oauth.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/authorization/oauth.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/genes-keyword-browser/genes-keyword.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/genes-keyword-browser/genes-keyword.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/keyword-form/keyword-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/keyword-form/keyword-form.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/keyword-paginated/keyword-paginated.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/keyword-paginated/keyword-paginated.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/mutants-view/mutants-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/mutants-view/mutants-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/linked-pubs/linked-pubs.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/linked-pubs/linked-pubs.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/ortholog-view/ortholog-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/ortholog-view/ortholog-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/mutant-forms/mutant-single-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/mutant-forms/mutant-single-form.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/functional-annotation/functional-annotation.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/functional-annotation/functional-annotation.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/expression-view/expression-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/expression-view/expression-view.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/annotations-view/host-pathogen/host-pathogen.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/host-pathogen/host-pathogen.component.min.js' %}"></script>

    <script src="{% static 'build/js/app/hostpath-form/hostpath-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/hostpath-form/hostpath-form.component.min.js' %}"></script>
    
    <script src="{% static 'build/js/app/annotations-view/cell-visualizer-view/cell-visualizer-view.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/annotations-view/cell-visualizer-view/cell-visualizer-view.component.min.js' %}"></script>
    
    <script src="{% static 'build/js/app/help-form/help-form.module.min.js' %}"></script>
    <script src="{% static 'build/js/app/help-form/help-form.component.min.js' %}"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91585082-2', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>

{% csrf_token %}
<div style="height: 100%" class="ng-view"></div>
</body>
</html>
