<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
		
			h1, h3 {
				text-align: center;
			}
			
			a {
				font-size: 30px;
			}
			
			div {
				text-align: center;
			}
		
		</style>
	</head>
	<body>
		<h1>ChlamBase is down for maintenance!</h1>
		<h3>In the meantime, please visit our developer site, ChlamBase Beta!</h3>
		<div>
			<a target="_blank" href="https://dev.chlambase.org">ChlamBase Beta</a>
		</div>
		<h3>Or, you can explore the parent site, WikiGenomes!</h3>
		<div>
			<a target="_blank" href="http://wikigenomes.org">WikiGenomes</a>
		</div>
	</body>
</html>
