<header></header>
<div ng-show="$ctrl.loading" class="overlay">
    <div class="loading-img"></div>
</div>
<div style="padding: 40px;">
    <h3 style="text-align: center; margin-top: 60px" class="strongColor">{{$ctrl.appData.title}} Search</h3>
    <div class="strongColor" style="border-bottom: 1px solid; text-align: center; padding: 10px;">
        <div class="form-inline">
            <label for="keywordSearch">Search: </label>
            <input ng-model="$ctrl.keyword"
                   type="text"
                   class="form-control ui-widget"
                   id="keywordSearch"
                   placeholder="Ex. Kinase or CTL0260"
                   style="width: 70%; display: inline"
                   data-intro="If you aren't sure what filter to use, you can enter a keyword here. This will be matched across all filters."
                   data-step="3">
            <button ng-click="$ctrl.advSearch()" class="btn btn-default" style="display: inline"
                    data-intro="Once you have selected filters and/or specified keywords, click the search button here. Please be patient while we query the databases with your criteria."
                    data-step="4"><span
                    class="glyphicon glyphicon-search"></span></button>
            <button ng-click="$ctrl.startJS()" class="btn btn-info" style="display: inline"
                    data-intro="Welcome to the advanced search page! This tutorial will show you how to use this page."
                    data-step="1"><span
                    class="glyphicon glyphicon-question-sign"></span></button>
        </div>
        <div ng-show="$ctrl.mf || $ctrl.bp || $ctrl.cc || $ctrl.hp || $ctrl.entrez || $ctrl.uniprot || $ctrl.refseq || $ctrl.cm ||
            $ctrl.tm || $ctrl.im|| $ctrl.rm || $ctrl.pdb || $ctrl.rb || $ctrl.eb || $ctrl.constitutive || $ctrl.early ||
            $ctrl.mid || $ctrl.midlate || $ctrl.late || $ctrl.verylate"
             style="margin: 5px">
            <span class="glyphicon glyphicon-exclamation-sign"> You have the following filters applied: </span>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.mf" ng-click="$ctrl.mf = false"
                    style="display: inline">Molecular Function <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.bp" ng-click="$ctrl.bp = false"
                    style="display: inline">Biological Process <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.cc" ng-click="$ctrl.cc = false"
                    style="display: inline">Cellular Component <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.hp" ng-click="$ctrl.hp = false"
                    style="display: inline">Host Pathogen Interaction <span
                    class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.bacp" ng-click="$ctrl.bacp = false"
                    style="display: inline">Bacterial Protein Interaction <span
                    class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.entrez" ng-click="$ctrl.entrez = false"
                    style="display: inline">Entrez <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.uniprot" ng-click="$ctrl.uniprot = false"
                    style="display: inline">Uniprot <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.refseq" ng-click="$ctrl.refseq = false"
                    style="display: inline">RefSeq <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.pdb" ng-click="$ctrl.pdb = false"
                    style="display: inline">PDB <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.cm" ng-click="$ctrl.cm = false"
                    style="display: inline">Chemical Mutants<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.tm" ng-click="$ctrl.tm = false"
                    style="display: inline">Transposition Mutants<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.im" ng-click="$ctrl.im = false"
                    style="display: inline">Intron Mutants<span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.rm" ng-click="$ctrl.rm = false"
                    style="display: inline">Recombination Mutants<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.rb" ng-click="$ctrl.rb = false"
                    style="display: inline">Reticulate Body<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.eb" ng-click="$ctrl.eb = false"
                    style="display: inline">Elementary Body<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.constitutive" ng-click="$ctrl.constitutive = false"
                    style="display: inline">Constitutive<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.early" ng-click="$ctrl.early = false"
                    style="display: inline">Early<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.mid" ng-click="$ctrl.mid = false"
                    style="display: inline">Mid<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.midlate" ng-click="$ctrl.midlate = false"
                    style="display: inline">Mid_Late<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.late" ng-click="$ctrl.late = false"
                    style="display: inline">Late<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.verylate" ng-click="$ctrl.verylate = false"
                    style="display: inline">Very_Late<span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 60px" ng-hide="$ctrl.loading">
        <div class="row">
            <div class="col-sm-5" data-intro="All the advanced filters are listed in this column. You can filter by different criteria to limit the search results by clicking on the appropriate checkbox
                    next to the filter name. Additionally, you can enter a value if there is an input form to further specify the constraint of the filter. Leave the input form blank if the value does not matter."
                 data-step="2">
                <advanced-search-filter mf="$ctrl.mf" mftext="$ctrl.mftext"
                                        bp="$ctrl.bp" bptext="$ctrl.bptext"
                                        cc="$ctrl.cc" cctext="$ctrl.cctext"
                                        hp="$ctrl.hp" hptext="$ctrl.hptext"
                                        entrez="$ctrl.entrez" entreztext="$ctrl.entreztext"
                                        uniprot="$ctrl.uniprot" uniprottext="$ctrl.uniprottext"
                                        refseq="$ctrl.refseq" refseqtext="$ctrl.refseqtext"
                                        pdb="$ctrl.pdb" pdbtext="$ctrl.pdbtext"
                                        bacp="$ctrl.bacp" bacptext="$ctrl.bacptext"
                                        cm="$ctrl.cm"
                                        tm="$ctrl.tm"
                                        im="$ctrl.im"
                                        rm="$ctrl.rm"
                                        rb="$ctrl.rb"
                                        eb="$ctrl.eb"
                                        constitutive="$ctrl.constitutive"
                                        early="$ctrl.early"
                                        mid="$ctrl.mid"
                                        midlate="$ctrl.midlate"
                                        late="$ctrl.late"
                                        verylate="$ctrl.verylate"
                                        org-data="$ctrl.orgData"
                                        store-cache="$ctrl.storeCache">
                </advanced-search-filter>
            </div>
            <div class="col-sm-7" style="padding-left: 40px" data-intro="Finally, results from a search are displayed in this column. If there are no results, then '0 Results' will be shown. Otherwise, you will see
                it below. This concludes the tutorial!" data-step="5">
                <h3>{{$ctrl.tableParams.total()}} Results</h3>
                <table ng-table="$ctrl.tableParams" style="width: 100%">
                    <tr ng-repeat="x in $data">
                        <td ng-click="$ctrl.onSelect(x)">
                            <div class="filter-result strongColor" style="text-align: left; padding-left: 20px;">
                                <strong><u>{{x.geneLabel.value}}</u></strong>
                                <br>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div style="font-size: 13px; margin: 2px">
                                            <span>Strain: {{x.taxonLabel.value}}</span><br>
                                            <span>Aliases: {{x.geneAltLabel.value}}</span><br>
                                            <span ng-show="x.entrez.value">Entrez: {{x.entrez.value}}<br></span>
                                            <span ng-show="x.uniprot.value">Uniprot: {{x.uniprot.value}}<br></span>
                                            <span ng-show="x.refseq_prot.value">RefSeq: {{x.refseq_prot.value}}<br></span>
                                            <span ng-show="x.mfLabel.value">MF Terms: {{x.mfLabel.value}}<br></span>
                                            <span ng-show="x.bpLabel.value">BP Terms: {{x.bpLabel.value}}<br></span>
                                            <span ng-show="x.ccLabel.value">CC Terms: {{x.ccLabel.value}}<br></span>
                                            <span ng-show="x.host_proteinLabel.value">Protein Interaction: {{x.host_proteinLabel.value}}<br></span>
                                            <span ng-show="x.pdb.value">PDB: {{x.pdb.value}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default">
                                            <a target="_blank"
                                               href="https://www.wikidata.org/wiki/{{x.gene.value | parseQID}}">
                                                <img class="center" src="static/wiki/img/GeneWikidata-logo-en.png">
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<footer></footer>
