<div class="form-inline padding20" style="max-width:350px; margin:auto;">
	<input ng-keyup="$ctrl.keyPressed($event)"
		   autocomplete="off"
		   ng-model="$ctrl.keyword"
		   type="text"
		   class="form-control ui-widget"
		   id="keywordSearch"
	       placeholder="Ex. Kinase or {{$ctrl.locusTag}}"
	       uib-typeahead="gene.geneLabel.value for gene in ($ctrl.geneList = ($ctrl.genes | filter:$viewValue | limitTo:20))"
	   	   typeahead-on-select="$ctrl.select($item, $event)"
	   	   typeahead-wait-ms="300"
	   	   typeahead-should-select="$ctrl.scrolled"
	   	   style="width: 70%; display: inline">
	<button ng-click="$ctrl.advSearch()" class="btn themeButton" style="display: inline">GO</button>
	<br />
	<br />
	<a data-toggle="modal" data-target="#adv_modal" style="color: white">Advanced Search <span class="glyphicon glyphicon-plus-sign"></span></a>
</div>
<div id="adv_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Advanced Search Filters</h4>
            </div>
            <div class="modal-text-color modal-body">
                <advanced-search-filter store-cache="$ctrl.storeCache"></advanced-search-filter>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
