<script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{ heading }}
          </span>
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
    </div>
</script>

<h4>Module Dashboard</h4>
<div class="well container-fluid">
	<div class="col-sm-1">
		<label>Show:</label>
	</div>
	<div class="col-sm-10">
		<table>
			<tr ng-repeat="x in $ctrl.table">
				<td ng-repeat="key in x">
					<input type="checkbox" ng-model="$ctrl.accordion[key]"> {{$ctrl.map[key]}} &nbsp;
				</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-1">
		<div class="btn btn-default btn-xs" ng-click="$ctrl.expandAll()">Expand all</div><br>
		<div class="btn btn-default btn-xs" ng-click="$ctrl.collapseAll()">Collapse all</div>
    </div>
</div>

<h4>Annotations</h4>
<uib-accordion close-others="false">
    <div uib-accordion-group ng-class="{'panel-info': true}"
    	 ng-if="$ctrl.settings.product"
         template-url="group-template.html" is-open="$ctrl.accordion.product">
        <uib-accordion-heading>
            Gene Product <i class="pull-right glyphicon"
                            ng-class="{'glyphicon-chevron-down': $ctrl.accordion.product, 'glyphicon-chevron-right': !$ctrl.accordion.product}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <protein-view protein="$ctrl.data"></protein-view>

            </div>
        </div>

    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
    	ng-if="$ctrl.settings.ortholog"
         template-url="group-template.html" is-open="$ctrl.accordion.ortholog">
        <uib-accordion-heading>
            Ortholog(s) <i class="pull-right glyphicon"
                          ng-class="{'glyphicon-chevron-down': $ctrl.accordion.ortholog, 'glyphicon-chevron-right': !$ctrl.accordion.ortholog}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <ortholog-view locus-tag="$ctrl.data.locusTag"></ortholog-view>
            </div>
        </div>

    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
    	ng-if="$ctrl.settings.alignment"
         template-url="group-template.html" is-open="$ctrl.accordion.alignment">
        <uib-accordion-heading>
            Ortholog Alignment(s) <i class="pull-right glyphicon"
                          ng-class="{'glyphicon-chevron-down': $ctrl.accordion.alignment, 'glyphicon-chevron-right': !$ctrl.accordion.alignment}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <alignment-view locus-tag="$ctrl.data.locusTag" tax-id="$ctrl.data.taxid"></alignment-view>
            </div>
        </div>

    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
    	 ng-if="$ctrl.settings.expression"
         template-url="group-template.html" is-open="$ctrl.accordion.expression">
        <uib-accordion-heading>
            Expression <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': $ctrl.accordion.expression, 'glyphicon-chevron-right': !$ctrl.accordion.expression}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <expression-view data="$ctrl.annotations.expression" gene="$ctrl.data"></expression-view>
            </div>
        </div>

    </div>
    <div uib-accordion-group is-open="$ctrl.accordion.go" ng-class="{'panel-info': true}"
    	 ng-if="$ctrl.settings.go"
         template-url="group-template.html">
        <uib-accordion-heading>
            Function(s) ({{$ctrl.annotations.go.molfunc.length + $ctrl.annotations.go.bioproc.length}})
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': $ctrl.accordion.go, 'glyphicon-chevron-right': !$ctrl.accordion.go}"></i>
        </uib-accordion-heading>
        <div class="panel">
            <div class="panel-body" style="border-bottom: solid #bce8f1 1px">
                <div class="row">
                    <div class="col-sm-6 385d94" style="padding:3px">
                        <div class="panel">
                            <div class="panel-heading">Molecular Function</div>
                            <div class="panel-body">
                                <gene-ontology gene="$ctrl.data" goclass='mf_button'
                                               data="$ctrl.annotations.go.molfunc"></gene-ontology>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6" style="padding:3px">
                        <div class="panel ">
                            <div class="panel-heading">Biological Process</div>
                            <div class="panel-body">
                                <gene-ontology gene="$ctrl.data" goclass='bp_button'
                                               data="$ctrl.annotations.go.bioproc"></gene-ontology>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div uib-accordion-group is-open="$ctrl.accordion.localizations" ng-class="{'panel-info': true}"
    	 ng-if="$ctrl.settings.localizations"
         template-url="group-template.html">
        <uib-accordion-heading>
            Localization(s) ({{$ctrl.annotations.go.cellcomp.length}})
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': $ctrl.accordion.go, 'glyphicon-chevron-right': !$ctrl.accordion.go}"></i>
        </uib-accordion-heading>
        <div class="panel">
            <div class="panel-body" style="border-bottom: solid #bce8f1 1px">
              <localization-view gene="$ctrl.data" components="$ctrl.annotations.go.cellcomp"></localization-view>
            </div>
        </div>
    </div>
    
    <div uib-accordion-group ng-class="{'panel-info': true}"
    	 ng-if="$ctrl.settings.operon"
         template-url="group-template.html" is-open="$ctrl.accordion.operon">
        <uib-accordion-heading>
            Operon ({{$ctrl.annotations.operon.length}}) <i class="pull-right glyphicon"
                                                             ng-class="{'glyphicon-chevron-down': $ctrl.accordion.operon, 'glyphicon-chevron-right': !$ctrl.accordion.operon}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <operon-annotations operon="$ctrl.annotations.operon" allorggenes="$ctrl.allorggenes" gene="$ctrl.data"></operon-annotations>
            </div>
        </div>

    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
         is-open="$ctrl.accordion.interpro"
         ng-if="$ctrl.settings.interpro"
         template-url="group-template.html">
        <uib-accordion-heading>
            InterPro Domains ({{$ctrl.annotations.interpro.length}})<i class="pull-right glyphicon"
                                                                       ng-class="{'glyphicon-chevron-down': $ctrl.accordion.interpro, 'glyphicon-chevron-right': !$ctrl.accordion.interpro}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <inter-pro data="$ctrl.annotations.interpro"></inter-pro>
            </div>
        </div>

    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
         is-open="$ctrl.accordion.enzyme"
         ng-if="$ctrl.settings.enzyme"
         template-url="group-template.html">
        <uib-accordion-heading>
            Enzyme ({{$ctrl.annotations.ecnumber.length}})<i class="pull-right glyphicon"
                                                             ng-class="{'glyphicon-chevron-down': $ctrl.accordion.enzyme, 'glyphicon-chevron-right': !$ctrl.accordion.enzyme}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <enzyme-view ecnumber="$ctrl.annotations.ecnumber" reaction="$ctrl.annotations.reaction"></enzyme-view>
            </div>
        </div>
    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
         is-open="$ctrl.accordion.mutants"
         ng-if="$ctrl.settings.mutants"
         template-url="group-template.html">
        <uib-accordion-heading>
            Mutants ({{ $ctrl.annotations.mutants.length }})<i class="pull-right glyphicon"
                                                                       ng-class="{'glyphicon-chevron-down': $ctrl.accordion.mutants, 'glyphicon-chevron-right': !$ctrl.accordion.mutants}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body">
                <mutants-view data="$ctrl.annotations.mutants"></mutants-view>
            </div>
        </div>
    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
         is-open="$ctrl.accordion.hostpath"
         ng-if="$ctrl.settings.hostpath"
         template-url="group-template.html">
        <uib-accordion-heading>
            Protein Interaction(s) ({{$ctrl.annotations.hostpath.length}}) <i class="pull-right glyphicon"
                                          ng-class="{'glyphicon-chevron-down': $ctrl.accordion.hostpath, 'glyphicon-chevron-right': !$ctrl.accordion.hostpath}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body" style="max-height: 400px; overflow: auto">
                <host-pathogen data="$ctrl.annotations.hostpath"></host-pathogen>
            </div>
        </div>
    </div>
    <div uib-accordion-group ng-class="{'panel-info': true}"
         is-open="$ctrl.accordion.pubs"
         ng-if="$ctrl.settings.pubs"
         template-url="group-template.html">
        <uib-accordion-heading>
            Related Publications <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': $ctrl.accordion.pubs, 'glyphicon-chevron-right': !$ctrl.accordion.pubs}"></i>
        </uib-accordion-heading>
        <div class="panel " style="border-bottom: solid #bce8f1 1px;">
            <div class="panel-body" style="max-height: 400px; overflow: auto">
                <linked-pubs pubs="$ctrl.annotations.pubList"></linked-pubs>
            </div>
        </div>
    </div>


</uib-accordion>
