<landing-header page="'browser'"></landing-header>
<div ng-show="$ctrl.loading" class="overlay">
    <div class="loading-img"></div>
</div>
<div class="container" style="padding-top: 15vh">
  <div class="row">
    <div class="col-md-12 bg-gradient-black padding20" style="margin:10px 0px; border-radius:10px;">
        <div class="col-sm-8">
            <table>
                <tr>
                    <td style="padding:10px;">
                        <img class="dropShadow" style="display:inline;" width="40px" src="static/wiki/img/{{$ctrl.icon}}" />
                    </td>
                    <td style="padding:10px;">
                        <h2 style="display:inline;" class="noMargin text-light textShadow">{{ $ctrl.orgName}}</h2>
                    </td>
                    <td style="padding:10px;">
                        <div class="taxIDBadge">
                            <i class="fas fa-passport"></i> NCBI TaxID: {{ $ctrl.currentTaxid }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="text-align: right" class="col-md-3">
          <allgenes-download taxid="$ctrl.currentTaxid"></allgenes-download>
      </div>
    </div>
  </div>

  <div class="jumbotron box">
      <div class="panel noMargin" style="height:300px; border: solid #385d94 2px; border-radius: 3px">
          <jbrowse-view start="'0'" end="'5000'" refseq="$ctrl.refseq"></jbrowse-view>
      </div>
  </div>
  <div class="flexParent">
    <div class="flexChild panel text-center">
      <div class="panel-heading bg-dark text-center text-light">
        <h4><i class="fas fa-dna"></i> Chromosomes: <span class="text-pink">{{ $ctrl.numChromosomes }}</span></h4>
      </div>
      <div class="panel-body padding20" style="border:2px grey solid;">
        <div ng-repeat="x in $ctrl.chromosomes">
          <a class="btn themeButton-tiny" ng-repeat="chr in x" ng-click="$ctrl.onChromSelect(chr)">
            <i class="fas fa-dna"></i> {{chr.chromosomeLabel.value}}
          </a>
        </div>
      </div>
    </div>
    <div class="flexChild panel text-center">
      <div class="panel-heading bg-dark text-center text-light">
        <h4><i class="fas fa-dna"></i> Plasmids: <span class="text-pink">{{ $ctrl.numPlasmids }}</span></h4>
      </div>
      <div class="panel-body padding20" style="border:2px grey solid;">
        <div ng-repeat="x in $ctrl.plasmids">
          <a class="btn themeButton-tiny" ng-repeat="chr in x" ng-click="$ctrl.onChromSelect(chr)">
            <i class="fas fa-dna"></i> {{chr.plasmidLabel.value}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="panel">
              <div class="panel-heading bg-purple">
                  <div class="text-center text-light">
                      <h4><span class="text-blue">{{$ctrl.selected}}</span> </h4>
                      <h4>Results: <span class="text-pink-light">{{ $ctrl.currentAllGenes.length }}</span></h4>
                  </div>
              </div>
              <div class="panel-body padding20" style="border:2px grey solid;">
                  <ul class="example-animate-container">
                      <li dir-paginate="x in $ctrl.currentAllGenes | itemsPerPage: 10">
                          <div ng-click="$ctrl.onSelect(x)" class="btn btn-default strongColor"
                               tooltip-placement="left" uib-tooltip="View Gene"
                               style="width:100%; overflow: hidden; text-overflow: ellipsis; text-align:left; margin:5px;">
                              <h4 style="display:inline;margin:5px;">{{ x.geneLabel.value }}</h4>
                              <div style="float:right;">
                                <div style="margin:5px;" class="badge">Locus Tag: {{ x.locusTag.value }}</div>
                                <div style="margin:5px;" ng-if="x.entrez.value" class="badge">Entrez: {{ x.entrez.value }}</div>
                                <a style="margin:5px;" class="btn themeButton-tiny" target="_blank" href="https://www.wikidata.org/wiki/{{ x.gene.value | parseQID }}">
                                  WikiData
                                </a>
                              </div>
                          </div>
                      </li>
                  </ul>
                  <div style="text-align: center">
                      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- OLD -->
<!-- <landing-header page="'browser'"></landing-header>
<div ng-show="$ctrl.loading" class="overlay">
    <div class="loading-img"></div>
</div>
<div class="container" style="padding-top: 15vh">
    <div class="row">
        <div class="col-md-12 bg-gradient-black padding20">
            <div>
                <div class="col-md-9">
                    <div style="width:auto;display:inline">
                        <h2 class="link-dark" style="display:inline;">
                            <strong>{{ $ctrl.orgName}}</strong> &nbsp; NCBI TaxID: {{ $ctrl.currentTaxid }}
                        </h2>
                    </div>
                </div>
                <div style="text-align: right" class="col-md-3">
                    <allgenes-download taxid="$ctrl.currentOrg.taxid"></allgenes-download>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 box">
            <div id="jbrowse-div">
                <jbrowse-view start="'0'" end="'5000'" refseq="$ctrl.refseq"></jbrowse-view>
            </div>
        </div>
    </div>
    <div class="row" ng-show="$ctrl.numChromosomes > 1 || $ctrl.numPlasmids > 0">
        <div class="col-md-12">
            <div class="panel noMargin">
                <div class="panel-heading bg-dark">
                    <div class="text-center text-light">
                        <h4><i class="fas fa-dna"></i> Chromosomes: <span class="text-pink">{{ $ctrl.numChromosomes }}</span></h4>
                    </div>
                </div>
                <div class="panel-body padding20">
                    <ul class="list-group" ng-repeat="x in $ctrl.chromosomes">
                      <li class="list-group-item btn themeButton" ng-repeat="chr in x" ng-click="$ctrl.onChromSelect(chr)">
                        <i class="fas fa-dna"></i> {{chr.chromosomeLabel.value}}
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="$ctrl.numPlasmids > 0">
        <div class="col-md-12">
            <div class="panel noMargin">
                <div class="panel-heading bg-dark">
                    <div class="text-center text-light">
                        <h4><i class="fas fa-dna"></i> Plasmids: <span class="text-pink">{{ $ctrl.numPlasmids }}</span></h4>
                    </div>
                </div>
                <div class="panel-body padding20">
                  <ul class="list-group" ng-repeat="x in $ctrl.plasmids">
                    <li class="list-group-item btn themeButton" ng-repeat="chr in x" ng-click="$ctrl.onChromSelect(chr)">
                      <i class="fas fa-dna"></i> {{chr.plasmidLabel.value}}
                    </li>
                  </ul>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel noMargin">
                <div class="panel-heading bg-dark">
                    <div class="text-center text-light">
                        <h4><span class="text-blue">{{$ctrl.selected}}</span> genes: <span class="text-pink">{{ $ctrl.currentAllGenes.length }}</span></h4> -->
                        <!-- <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
                <div class="panel-body">
                    <ul style="text-align: left;list-style: none;" class="example-animate-container">
                        <li dir-paginate="x in $ctrl.currentAllGenes | itemsPerPage: 10">
                            <div ng-click="$ctrl.onSelect(x)" class="btn btn-default strongColor"
                                 style="margin-top:15px; width:100%; overflow: hidden; text-overflow: ellipsis">
                                <div class="col-md-7" style="text-align: left"><h4>{{ x.geneLabel.value }}</h4></div>
                                <div class="col-md-2"><h4>Locus Tag: {{ x.locusTag.value }} </h4></div>
                                <div class="col-md-2"><h4 ng-if="x.entrez.value">Entrez: {{ x.entrez.value }} </h4>
                                </div>
                                <div class="col-md-1">
                                  <a target="_blank" href="https://www.wikidata.org/wiki/{{ x.gene.value | parseQID }}">
                                    <div class="btn btn-default">
                                      <img style="max-height: 30px" id="wikilogo" src="static/wiki/img/GeneWikidata-logo-en.png">
                                    </div>
                                  </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div style="text-align: center">
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
