<landing-header page="'browser'"></landing-header>
<div ng-show="$ctrl.loading" class="overlay">
    <div class="loading-img"></div>
</div>
<div class="container" style="padding-top: 10vh">
  <div class="row">
    <!-- to-do: make dynamic -->
    <div class="col-sm-12 text-center">
      <h3 class="text-muted text-weight-light">Explore Other Strains</h3>
      <div style="margin:auto;">
        <a class="scale-in-center margin20 organismBtn" href="/organism/471472">
          <img width="40px" src="static/wiki/img/strain-434.svg"/>
        </a>
        <a class="scale-in-center margin20 organismBtn" href="/organism/272561">
          <img width="40px" src="static/wiki/img/strain-DUX.svg"/>
        </a>
        <a class="scale-in-center margin20 organismBtn" href="/organism/243161">
          <img width="40px" src="static/wiki/img/strain-NIGG.svg"/>
        </a>
        <a class="scale-in-center margin20 organismBtn" href="/organism/115713">
          <img width="40px" src="static/wiki/img/strain-CW.svg"/>
        </a>
      </div>
    </div>

    <div class="col-md-12 bg-gradient-black padding20" style="margin:10px 0px; border-radius:10px;">
        <div class="col-sm-8">
            <table>
                <tr>
                    <td style="padding:10px;">
                        <img class="dropShadow" style="display:inline;" width="40px" src="static/wiki/img/{{$ctrl.icon}}" />
                    </td>
                    <td style="padding:10px;">
                        <h2 style="display:inline;" class="noMargin text-light textShadow">{{ $ctrl.orgName}}</h2>
                    </td>
                    <td style="padding:10px;">
                        <div class="taxIDBadge">
                            <i class="fas fa-passport"></i> NCBI TaxID: {{ $ctrl.currentTaxid }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="text-align: right" class="col-md-3 padding20">
          <allgenes-download taxid="$ctrl.currentTaxid"></allgenes-download>
      </div>
    </div>
  </div>

  <div class="jumbotron box">
      <div class="panel noMargin" style="height:300px; border: solid #385d94 2px; border-radius: 3px">
          <jbrowse-view start="'0'" end="'5000'" refseq="$ctrl.refseq"></jbrowse-view>
      </div>
  </div>
  <div class="flexParent">
    <div class="flexChild panel text-center">
      <div class="panel-heading bg-dark text-center text-light">
        <h4> Chromosomes: <span class="text-pink">{{ $ctrl.numChromosomes }}</span></h4>
      </div>
      <div class="panel-body padding20" style="border:2px grey solid;">
        <div ng-repeat="x in $ctrl.chromosomes">
          <a class="btn themeButton-tiny" ng-repeat="chr in x" ng-click="$ctrl.onChromSelect(chr)">
             {{chr.chromosomeLabel.value}}
          </a>
        </div>
      </div>
    </div>
    <div class="flexChild panel text-center">
      <div class="panel-heading bg-dark text-center text-light">
        <h4> Plasmids: <span class="text-pink">{{ $ctrl.numPlasmids }}</span></h4>
      </div>
      <div class="panel-body padding20" style="border:2px grey solid;">
        <div ng-repeat="x in $ctrl.plasmids">
          <a class="btn themeButton-tiny" ng-repeat="chr in x" ng-click="$ctrl.onChromSelect(chr)">
             {{chr.plasmidLabel.value}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="panel">
              <div class="panel-heading bg-purple">
                  <div class="text-center text-light">
                      <h4><span class="text-blue">{{$ctrl.selected}}</span> </h4>
                      <h4>Results: <span class="text-pink-light">{{ $ctrl.currentAllGenes.length }}</span></h4>
                  </div>
              </div>
              <div class="panel-body padding20" style="border:2px grey solid;">
                  <ul class="example-animate-container">
                      <li dir-paginate="x in $ctrl.currentAllGenes | itemsPerPage: 10">
                          <div ng-click="$ctrl.onSelect(x)" class="btn btn-default strongColor"
                               tooltip-placement="left" uib-tooltip="View Gene"
                               style="width:100%; overflow: hidden; text-overflow: ellipsis; text-align:left; margin:5px;">
                              <h4 style="display:inline;margin:5px;">{{ x.geneLabel.value }}</h4>
                              <div style="float:right;">
                                <div style="margin:5px;" class="badge">Locus Tag: {{ x.locusTag.value }}</div>
                                <div style="margin:5px;" ng-if="x.entrez.value" class="badge">Entrez: {{ x.entrez.value }}</div>
                                <a style="margin:5px;" class="btn themeButton-tiny" target="_blank" href="https://www.wikidata.org/wiki/{{ x.gene.value | parseQID }}">
                                  WikiData
                                </a>
                              </div>
                          </div>
                      </li>
                  </ul>
                  <div style="text-align: center">
                      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
