<div class="container-fluid">
	<div class="col-sm-7">
		<div class="table-responsive">
			<table ng-table="$ctrl.tableParams" class="table table-hover">
			    <tr>
			        <td title="'Reticulate Body Expression Timing'">
			                <span ng-class="{'label-success': $ctrl.data.RB_EXPRESSION_TIMING == 'Constitutive', 'label-default': $ctrl.data.RB_EXPRESSION_TIMING != 'Constitutive'}"
			                      class="label">Constitutive</span>
			                <span ng-class="{'label-success': $ctrl.data.RB_EXPRESSION_TIMING == 'Early', 'label-default': $ctrl.data.RB_EXPRESSION_TIMING != 'Early'}"
			                      class="label">Early</span>
			                <span ng-class="{'label-success': $ctrl.data.RB_EXPRESSION_TIMING == 'Mid', 'label-default': $ctrl.data.RB_EXPRESSION_TIMING != 'Mid'}"
			                      class="label">Mid</span>
			                <span ng-class="{'label-success': $ctrl.data.RB_EXPRESSION_TIMING == 'Mid_Late', 'label-default': $ctrl.data.RB_EXPRESSION_TIMING != 'Mid_Late'}"
			                      class="label">Mid_Late</span>
			                <span ng-class="{'label-success': $ctrl.data.RB_EXPRESSION_TIMING == 'Late', 'label-default': $ctrl.data.RB_EXPRESSION_TIMING != 'Late'}"
			                      class="label">Late</span>
			                <span ng-class="{'label-success': $ctrl.data.RB_EXPRESSION_TIMING == 'Very_Late', 'label-default': $ctrl.data.RB_EXPRESSION_TIMING != 'Very_Late'}"
			                      class="label">Very_Late</span>
			        </td>
			
			        <td title="'Reference'">
			            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{$ctrl.data.PMID}}">
			                <img uib-tooltip="Cited Publication" style="height: 14px; margin-top: -3px"
			                     data-ng-src="/static/wiki/img/pubmedGlyph.png">
			            </a>
			        </td>
			    </tr>
			</table>
		</div>
	</div>
	<div class="col-sm-5">
		<table ng-table="$ctrl.tableParams" class="table table-hover">
		    <tr ng-repeat="x in [{'reference': 123, 'eb': true, 'rb': false}, {'reference': 123, 'eb': true, 'rb': true}]">
		    	<td title="'Developmental Body Enrichment'">
		    		<span ng-class="{'label-success': x.eb,'label-default': !x.eb}" class="label">Elementary Body</span>
			        <span ng-class="{'label-success': x.rb,'label-default': !x.rb}" class="label">Reticulate Body</span>
		    	</td>
			    <td title="'References'">
		            <!-- Button trigger modal -->
		            <div style="padding: 3px">
		                <a ng-show="x.reference" href="https://www.ncbi.nlm.nih.gov/pubmed/{{x.reference}}" target="_blank">
		                    <img uib-tooltip="Link to publication in PubMed" style="height: 14px; margin-top: -3px"
	                    		 data-ng-src="/static/wiki/img/pubmedGlyph.png">
		                </a>
		            </div>
		        </td>
		    </tr>
		</table>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#l_button">Add an annotation</button>
	</div>
</div>

<div class="modal fade" id="l_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <localization-form ng-hide="showHelp"></localization-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>