<form name='geneNameAnnotationForm' class="form-group">

	<div class="well" ng-show="$ctrl.pageCount==0" style="min-height: 160px">
		<h4>Enter a new alias for the gene:</h4>

		<div class="input-group">
			<input ng-model="$ctrl.geneNameData.geneName" type="text" style="width: 500px;"
				class="form-control ui-widget" id="geneName" placeholder="inclusion membrane protein V">
		</div>

	</div>
	
	<div class="well" ng-show="$ctrl.pageCount==0" style="min-height: 200px">
		<h4>Select all genes to add this alias to:</h4>
		<table class="table table-hover">
			<tr>
				<td title="'Strain'">Strain</td>
				<td title="'Taxid'">Taxid</td>
				<td title="'Locus Tag'">Locus Tag</td>
				<td title="'Target'">Target</td>
			</tr>
			<tr ng-repeat="(key, value) in $ctrl.orthoData">
				<td title="'Strain'">{{ key | taxid2Name }}</td>
				<td title="'Taxid'">{{ key }}</td>
				<td title="'Locus Tag'">{{value}}</td>
				<td title="'Target'"><input type="checkbox" ng-model="$ctrl.projection[key]">
				</td>
			</tr>
		</table>
	</div>

	<div class="well" ng-show="$ctrl.pageCount==1"
		style="min-height: 150px">
		<h4>Review for submission</h4>

		<div>
			<p>
				The gene with label "<strong>{{$ctrl.gene.geneLabel}}</strong>" will add the alias "<strong>{{$ctrl.geneNameData.geneName}}</strong>".
				<br><br> This alias will be added to:
				<ul>
					<li ng-repeat="(key,value) in $ctrl.projection"
						ng-show="value == true">{{$ctrl.orthoData[key]}}</li>
				</ul>
			</p>
		</div>
		<div>
			<p ng-show="$ctrl.geneNameData.geneName == ''">Please fill out
				all form fields before proceeding</p>
		</div>
	</div>
	<div style="height: 30px; width: 100%">
		<div ng-hide="$ctrl.pageCount==0" class="btn btn-default"
			ng-click="$ctrl.backClick()">Previous</div>
		<div style="float: right" ng-hide="$ctrl.geneNameData.geneName == '' || $ctrl.pageCount==1"
			class="btn btn-default" ng-click="$ctrl.nextClick()">Review Submission</div>
	</div>
	<div style="clear: both; width: 100%; margin-top: 10px">
		<div class="btn btn-warning"
			ng-click="$ctrl.resetForm()">Reset</div>
		<div style="float: right"
			ng-show="$ctrl.geneNameData.geneName != '' && $ctrl.pageCount==1"
			class="btn btn-success" ng-click="$ctrl.sendData()">
			Submit Annotation</div>


	</div>

</form>
