<header></header>
<div ng-show="$ctrl.loading" class="overlay">
    <div class="loading-img"></div>
</div>
<div style="padding: 40px;">
    <h3 style="text-align: center; margin-top: 60px" class="strongColor">{{$ctrl.appData.title}} Search</h3>
    <div class="strongColor" style="border-bottom: 1px solid; text-align: center; padding: 10px;">
        <div class="form-inline">
            <label for="keywordSearch">Search: </label>
            <input ng-model="$ctrl.keyword"
                   type="text"
                   class="form-control ui-widget"
                   id="keywordSearch"
                   placeholder="Ex. Kinase or CTL0260"
                   style="width: 70%; display: inline"
                   data-intro="If there is no applicable filter for your query, enter it here. Or, leave this blank for a holistic search. This ends the tutorial!"
                   data-step="6">
            <button ng-click="$ctrl.advSearch()" class="btn btn-default" style="display: inline"><span
                    class="glyphicon glyphicon-search"></span></button>
            <button ng-click="$ctrl.startJS()" class="btn btn-info" style="display: inline"
                    data-intro="I will help you get started with advanced search!" data-step="1"><span
                    class="glyphicon glyphicon-question-sign"></span></button>
        </div>
        <div ng-show="$ctrl.mf || $ctrl.bp || $ctrl.cc || $ctrl.hp || $ctrl.entrez || $ctrl.uniprot || $ctrl.refseq || $ctrl.cm || $ctrl.tm || $ctrl.im|| $ctrl.rm || $ctrl.pdb"
             style="margin: 5px">
            <span class="glyphicon glyphicon-exclamation-sign"> You have the following filters applied: </span>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.mf" ng-click="$ctrl.mf = false"
                    style="display: inline">Molecular Function <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.bp" ng-click="$ctrl.bp = false"
                    style="display: inline">Biological Process <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.cc" ng-click="$ctrl.cc = false"
                    style="display: inline">Cellular Component <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.hp" ng-click="$ctrl.hp = false"
                    style="display: inline">Host Pathogen Interaction <span
                    class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.entrez" ng-click="$ctrl.entrez = false"
                    style="display: inline">Entrez <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.uniprot" ng-click="$ctrl.uniprot = false"
                    style="display: inline">Uniprot <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.refseq" ng-click="$ctrl.refseq = false"
                    style="display: inline">RefSeq <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.pdb" ng-click="$ctrl.pdb = false"
                    style="display: inline">PDB <span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.cm" ng-click="$ctrl.cm = false"
                    style="display: inline">Chemical Mutants<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.tm" ng-click="$ctrl.tm = false"
                    style="display: inline">Transposition Mutants<span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.im" ng-click="$ctrl.im = false"
                    style="display: inline">Intron Mutants<span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-xs" ng-show="$ctrl.rm" ng-click="$ctrl.rm = false"
                    style="display: inline">Recombination Mutants<span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 60px" ng-hide="$ctrl.loading">
        <div class="row">
            <div class="col-sm-6" style="padding-left: 40px">
                <h3>{{$ctrl.tableParams.total()}} Results</h3>
                <table ng-table="$ctrl.tableParams" style="width: 100%">
                    <tr ng-repeat="x in $data">
                        <td ng-click="$ctrl.onSelect(x)">
                            <div class="filter-result strongColor" style="text-align: left; padding-left: 20px;">
                                <strong><u>{{x.geneLabel.value}}</u></strong>
                                <br>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div style="font-size: 13px; margin: 2px">
                                            <span>Aliases: {{x.aliases.value}} </span><span>Strain: {{x.taxonLabel.value}}</span><br>
                                            <span>Locus Tag: {{x.locusTag.value}} </span><span>Entrez: {{x.entrez.value}} </span>
                                            <span ng-show="x.uniprot.value">Uniprot: {{x.uniprot.value}} </span><span
                                                ng-show="x.refseq_prot.value">RefSeq: {{x.refseq_prot.value}}</span><br>
                                            <span ng-show="x.mfLabel.value">MF Terms: {{x.mfLabel.value}}</span>
                                            <span ng-show="x.bpLabel.value">BP Terms: {{x.bpLabel.value}}</span>
                                            <span ng-show="x.ccLabel.value">CC Terms: {{x.ccLabel.value}}</span><br>
                                            <span ng-show="x.host_protein.value">Host Protein: {{x.host_protein.value}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default">
                                            <a target="_blank" href="https://www.wikidata.org/wiki/{{x.gene.value | parseQID}}">
                                                <img class="center" src="static/wiki/img/GeneWikidata-logo-en.png">
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6 filter-by">
                <h3>Filter by</h3>

                <h5 class="filter-header"><span>Organism</span></h5>
                <div ng-repeat="value in $ctrl.orgData"
                     data-intro="Select which genomes you wish to search by clicking the checkboxes here."
                     data-step="5">
                    <img ng-src="/static/wiki/img/RB.png">
                    <h5 class="indented">{{value.taxonLabel}}</h5>
                    <input type="checkbox" ng-change="$ctrl.facetOrganism(value)" ng-checked="value.check"
                           ng-model="value.check" style="float: right">
                </div>

                <h5 class="filter-header"><span>Gene Expression</span></h5>
                <div>
                    <h5 class="indented">Constitutive (Coming Soon)</h5>
                </div>
                <div>
                    <h5 class="indented">Early (Coming Soon)</h5>
                </div>
                <div>
                    <h5 class="indented">Mid (Coming Soon)</h5>
                </div>
                <div>
                    <h5 class="indented">Mid_Late (Coming Soon)</h5>
                </div>
                <div>
                    <h5 class="indented">Late (Coming Soon)</h5>
                </div>
                <div>
                    <h5 class="indented">Very_Late (Coming Soon)</h5>
                </div>

                <h5 class="filter-header"><span>Developmental Body Enrichment</span></h5>
                <div>
                    <img ng-src="/static/wiki/img/RB.png">
                    <h5 class="indented">Reticulate Body (Coming Soon)</h5>
                </div>
                <div>
                    <img ng-src="/static/wiki/img/EB.png">
                    <h5 class="indented">Elementary Body (Coming Soon)</h5>
                </div>

                <h5 class="filter-header"><span>Interacts With</span></h5>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">Host Proteins: </h5>
                    <input type="checkbox" ng-checked="$ctrl.hp" ng-model="$ctrl.hp" style="float:right">
                </div>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">Bacterial Proteins: </h5>
                    <input type="checkbox" ng-checked="$ctrl.hp" ng-model="$ctrl.hp" style="float:right">
                </div>

                <h5 class="filter-header"><span>Mutants</span></h5>
                <div>
                    <h5 class="indented">Chemically Induced Mutants: </h5>
                    <input type="checkbox" ng-checked="$ctrl.cm" ng-model="$ctrl.cm" style="float:right">
                </div>
                <div>
                    <h5 class="indented">Intron Mutants: </h5>
                    <input type="checkbox" ng-checked="$ctrl.im" ng-model="$ctrl.im" style="float:right">
                </div>
                <div>
                    <h5 class="indented">Transposition Mutants: </h5>
                    <input type="checkbox" ng-checked="$ctrl.tm" ng-model="$ctrl.tm" style="float:right">
                </div>
                <div>
                    <h5 class="indented">Recombination Mutants: </h5>
                    <input type="checkbox" ng-checked="$ctrl.rm" ng-model="$ctrl.rm" style="float:right">
                </div>

                <h5 class="filter-header"><span>Terms & Interactions</span></h5>
                <div data-intro="This is the filter name, or the criteria you wish to search by." data-step="2">
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">Molecular Function</h5>
                    <input type="checkbox" ng-checked="$ctrl.mf" ng-model="$ctrl.mf" style="float:right">
                </div>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">Biological Process: </h5>
                    <input type="checkbox" ng-checked="$ctrl.bp" ng-model="$ctrl.bp" style="float:right">
                </div>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">Cellular Component: </h5>
                    <input type="checkbox" ng-checked="$ctrl.cc" ng-model="$ctrl.cc" style="float:right">
                </div>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">Entrez: </h5>
                    <input type="checkbox" ng-checked="$ctrl.entrez" ng-model="$ctrl.entrez" style="float:right">
                </div>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">Uniprot: </h5>
                    <input type="checkbox" ng-checked="$ctrl.uniprot" ng-model="$ctrl.uniprot" style="float:right">
                </div>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">RefSeq: </h5>
                    <input type="checkbox" ng-checked="$ctrl.refseq" ng-model="$ctrl.refseq" style="float:right">
                </div>
                <div>
                    <img ng-src="/static/wiki/img/favicon.ico">
                    <h5 class="indented">PDB: </h5>
                    <input type="checkbox" ng-checked="$ctrl.pdb" ng-model="$ctrl.pdb" style="float:right">
                </div>
                <!--
                <div class="form-inline">
                    <h5 class="indented">Specify: </h5>
                    <input type="text" class="form-control"
                           data-intro="Enter the value of the criteria you wish to search by. Or, leave it blank if you don't care what it is."
                           data-step="4">
                </div>-->
            </div>
        </div>
    </div>
</div>

<!--
type="text" ng-model="$ctrl.mf_text" class="form-control"
uib-typeahead="go as go.goterm_label.value for go in $ctrl.mfTerms($viewValue)"
typeahead-wait-ms="500"
typeahead-on-select="$ctrl.mf_text = $item.goterm_label.value"

type="text" ng-model="$ctrl.bp_text" class="form-control"
uib-typeahead="go as go.goterm_label.value for go in $ctrl.bpTerms($viewValue)"
typeahead-wait-ms="500"
typeahead-on-select="$ctrl.bp_text = $item.goterm_label.value"

type="text" ng-model="$ctrl.cc_text" class="form-control"
uib-typeahead="go as go.goterm_label.value for go in $ctrl.ccTerms($viewValue)"
typeahead-wait-ms="500"
typeahead-on-select="$ctrl.cc_text = $item.goterm_label.value"-->
<footer></footer>
