<h2 style="display: inline; margin-right: 20px">{{$ctrl.data.geneLabel}}</h2>
<button style="display: inline" title="Edit Gene Name" type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#geneName_button"><span class="glyphicon glyphicon-pencil"></span></button>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <strong>Type: </strong>{{$ctrl.data.productType.id | typeFilter}}<br>
      <strong>Locus Tag: </strong>{{$ctrl.data.locusTag}}<br>
      <strong>Aliases: </strong>{{$ctrl.data.geneAliases | list2CSV}}<br>
      <br>
      <strong>Species: </strong>{{$ctrl.taxid | taxid2Species}}<br>
      <strong>Strain: </strong>{{$ctrl.taxid | taxid2Strain}}<br>
      <strong>Subtype: </strong>Reference Strain<br>
      <br>
      <strong>References: </strong>
      <span>
      	<a target="_blank" href="https://www.ncbi.nlm.nih.gov/gene?term={{ $ctrl.data.entrez }}">
            <img uib-tooltip="NCBI Database Entry" style="height: 14px; margin-top: -3px"
                 data-ng-src="/static/wiki/img/NCBI-logo-2.png">
        </a>
        <a target="_blank" href="http://www.wikidata.org/wiki/{{ $ctrl.data.geneQID }}">
            <img uib-tooltip="Wikidata Database Item" style="height: 14px; margin-top: -3px"
                 data-ng-src="/static/wiki/img/GeneWikidata-logo-en.png">
        </a>
      </span>
    </div>
    <div class="col-sm-2">
      <strong>Host Targets: </strong><span ng-repeat="x in $ctrl.annotations.hostpath">{{x.hostProteinLabel.value}}</span><br>
      <strong>Chemical Mutants: </strong>{{$ctrl.cm}}<br>
      <strong>Transposon Mutants: </strong>{{$ctrl.tm}}<br>
      <strong>Intron Mutants: </strong>{{$ctrl.im}}<br>
      <strong>Recombination Mutants: </strong>{{$ctrl.rm}}
    </div>
    <div class="col-sm-4">
      <strong>Expression: </strong>{{$ctrl.annotations.expression.RB_EXPRESSION_TIMING}}<br>
      <strong>Localizations: </strong><span ng-show="$ctrl.annotations.go.cellcomp.length > 0" ng-repeat="x in $ctrl.annotations.go.cellcomp">{{x.gotermValueLabel.value}}; </span>
      								  <span ng-hide="$ctrl.annotations.go.cellcomp.length > 0">None</span><br>
      <cell-visualizer cell-comp="$ctrl.annotations.go.cellcomp"></cell-visualizer>
    </div>
    <div class="col-sm-4">
      <strong>PDB Structure: </strong>{{$ctrl.data.pdbId}}<br>
		      <img src="static/wiki/img/spin.gif" ng-hide="$ctrl.data.image">
		      <img ng-show="$ctrl.data.image != 'None'" ng-src="{{$ctrl.data.image}}" width="100%">
    </div>
  </div>
</div>
<!-- <div class="table-responsive">
	<table ng-table="$ctrl.tableParams" class="table">
	    <tr>
	        <td title="'Gene Name'">
	            <strong>{{$ctrl.data.geneLabel }}</strong>
	            <button title="Edit Gene Name" type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#geneName_button" >
	    			<div class="glyphicon glyphicon-pencil"></div>
				</button>
	        </td>
	        <td title="'Locus Tag'">
	            {{$ctrl.data.locusTag }}
	        </td>
	        <td title="'Entrez ID'">
	            {{$ctrl.data.entrez }}
	        </td>
	        <td title="'Aliases'">
	            {{$ctrl.data.geneAliases | list2CSV}}
	        </td>
	        <td title="'Chromosome'">
	            {{$ctrl.data.refseqGenome }}
	        </td>
	        <td title="'Start'">
	            {{$ctrl.data.genStart }}
	        </td>
	        <td title="'End'">
	            {{$ctrl.data.genEnd}}
	        </td>
	        <td title="'Strand'">
	            {{ $ctrl.data.strand | convertStrand }}
	        </td>
	        <td style="text-align: center" title="'Reference'">
	            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/gene?term={{ $ctrl.data.entrez }}">
	                <img uib-tooltip="NCBI Database Entry" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/NCBI-logo-2.png">
	            </a>
	            <a target="_blank" href="http://www.wikidata.org/wiki/{{ $ctrl.data.geneQID }}">
	                <img uib-tooltip="Wikidata Database Item" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/GeneWikidata-logo-en.png">
	            </a>
	        </td>
	        <td title="'Download'">
	            <a uib-tooltip="Download Nucleotide Fasta" class="glyphicon glyphicon-download"
	               href="https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nuccore&id=
	                       {{$ctrl.data.refseqGenome }}&seq_start={{$ctrl.data.genStart }}&seq_stop=
	                       {{$ctrl.data.genEnd}}&strand={{ $ctrl.data.strand | strandNum  }}&rettype=fasta&retmode=json">
	            </a>
	        </td>
	    </tr>
	</table>
</div>
-->
<!-- Modal -->
<div class="modal" id="geneName_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <gene-name-form gene="$ctrl.data" ng-hide="showHelp"></gene-name-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>