<form class="form-inline main-form-div ui-widget">
    <div class="form-group">
        <label for="geneForm">Search this genome: </label>
        <input  autocomplete="off"
                id="geneForm"
                type="text"
                ng-model="gene.name"
                uib-typeahead="gene.geneLabel.value for gene in $ctrl.currentAllGenes | filter:$viewValue | limitTo:200"
                typeahead-on-select="$ctrl.onSelect($item)"
                class="form-control"
                data-ng-click="gene.name=''"
                >
    </div>
</form>