<div class="text-center">
  <div class="bg-dark">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-inverse noMargin padding20 bg-gradient">
          <div class="container-fluid">
            <div class="navbar-header" style="display:inline-block;" id="navImage">
              <span class="navbar-brand" tooltip-placement="left" uib-tooltip="Strain: {{$ctrl.strain}}">
                <img class="flip-in-hor-bottom " ng-if="$ctrl.strain === '434/BU'" width="100%" src="static/wiki/img/strain-434.svg" />
                <img class="flip-in-hor-bottom " ng-if="$ctrl.strain === 'D/UW-3/CX'" width="100%" src="static/wiki/img/strain-DUX.svg" />
                <img class="flip-in-hor-bottom " ng-if="$ctrl.strain === 'Str. Nigg'" width="100%" src="static/wiki/img/strain-NIGG.svg" />
                <img class="flip-in-hor-bottom " ng-if="$ctrl.strain === 'CWL209'" width="100%" src="static/wiki/img/strain-CW.svg" />
              </span>
            </div>
            <ul class="nav navbar-nav">
              <li>
                <h4 class="text-light">
                  <span ng-class="{'text434': $ctrl.strain === '434/BU','textDUX': $ctrl.strain === 'D/UW-3/CX','textNIGG': $ctrl.strain === 'Str. Nigg','textCW': $ctrl.strain === 'CWL209'}">
                    <i class="fas fa-dna"></i> {{$ctrl.strain}} <i class="fas fa-chevron-right"></i>
                  </span>
                  {{$ctrl.data.geneLabel}}</h4>
                <div class="well bg-glassWhite">
                  <p class="text-muted noMargin noPadding"><span class="text-pink-light">
                    Aliases:</span> {{$ctrl.data.geneAliases | list2CSV}}
                    <button title="Edit Gene Name" type="button" class="btn themeButton-tiny" ng-click="$ctrl.checkAuthorization('geneName_button')">
                      Add <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </p>
                </div>
                <br />
                <div class="flexParent">
                  <div class="themeBadge bg-pink scale-in-center">
                    <span>Species</span>
                    <span>{{$ctrl.species}}</span>
                  </div>
                  <div class="themeBadge bg-purple scale-in-center">
                    <span>Subtype</span>
                    <span>Reference Strain</span>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Gene Symbol: <span class="text-pink-light">{{$ctrl.data.geneSymbol || 'None'}}</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="text-center padding20">
                    <div>
                      <p class="text-muted">
                        Edit Gene Symbol
                      </p>
                      <a role="button" class="btn themeButton-small" title="Edit Gene Symbol" ng-click="$ctrl.checkAuthorization('geneSymbol_button')">
                          Edit <span class="glyphicon glyphicon-edit"></span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-dna"></i> Type: <span class="text-pink-light">{{$ctrl.data.productType.id | typeFilter}}</span> <span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 1000px;">
                  <li class="text-center padding20">
                    <protein-view protein="$ctrl.data"></protein-view>
                  </li>
                </ul>
              </li>
              <li class="dropdown orthologButton bg-gradient-black">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Ortholog <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="text-center padding20">
                    <ortholog-view locus-tag="$ctrl.data.locusTag"></ortholog-view>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-sm-12">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 col-md-9">
                <div>
                  <h4 class="text-muted">Gene Expression</h4>
                </div>
                <expression-view data="$ctrl.annotations.expression" gene="$ctrl.data" belland="$ctrl.data.expression"></expression-view>
              </div>

              <div class="col-sm-12 col-md-3">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h4 class="text-muted">
                      Cell Visualizer
                    </h4>
                    <a data-target="#cell_modal" data-toggle="modal" class="btn magnify" tooltip-placement="bottom" uib-tooltip="Click to View Full Image">
                      <cell-visualizer cell-comp="$ctrl.annotations.go.cellcomp" development="$ctrl.data.developmentalForm"></cell-visualizer>
                    </a>
                  </li>
                  <li class="list-group-item" >
                    <p class="well">
                      <span class="text-pink">PDB Structure:</span> <span ng-hide="$ctrl.data.pdbIds.length > 0">None</span>
                      <span ng-repeat="x in $ctrl.data.pdbIds">{{x.pdbId.value}};&nbsp;</span>
                    </p>
                    <img class="zoom" ng-show="$ctrl.data.pdbIds.length > 0" ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{$ctrl.data.pdbIds[0].pdbId.value | lowercase}}_deposited_chain_front_image-800x800.png" width="100%">
                    <img tooltip-placement="left" uib-tooltip="No Image Found" class="zoom" ng-show="!$ctrl.data.pdbIds.length > 0" ng-src="static/wiki/img/no-image-found.png" width="100%">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 ">
        <div class="panel panel-default">
          <div class="panel-body">
            <nav class="navbar navbar-inverse noMargin padding20">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fas fa-pastafarianism"></i> Mutants</a>
                <p class="navbar-text navbar-right">{{$ctrl.data.geneLabel}} mutants</p>
                <ul class="nav navbar-nav navbar-left">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i> Detailed View <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="text-center padding20">
                        <mutants-view data="$ctrl.annotations.mutants"></mutants-view>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="panel">
              <div class="panel-body" style="background: lightgrey;">
                <div class="flexParent">
                  <div class="mutantBadge flexChild flip-in-hor-bottom">
                    <div ng-class="{'bg-gradient-purple': $ctrl.cm > 0, 'bg-gradient-black': $ctrl.cm <= 0}">
                      <span class="bodyBadge bg-dark smallFont" style="color:lightblue;">CM</span> Chemical Mutants
                    </div>
                    <div ng-class="{'text-success': $ctrl.cm > 0, 'text-muted': $ctrl.cm <= 0}">
                      {{$ctrl.cm}}
                    </div>
                  </div>
                  <div class="mutantBadge flexChild flip-in-hor-bottom">
                    <div ng-class="{'bg-gradient-purple': $ctrl.tm > 0, 'bg-gradient-black': $ctrl.tm <= 0}">
                      <span class="bodyBadge bg-dark smallFont" style="color:lightyellow;">TM</span> Transposon Mutants
                    </div>
                    <div ng-class="{'text-success': $ctrl.tm > 0, 'text-muted': $ctrl.tm <= 0}">
                      {{$ctrl.tm}}
                    </div>
                  </div>
                  <div class="mutantBadge flexChild flip-in-hor-bottom">
                    <div ng-class="{'bg-gradient-purple': $ctrl.im > 0, 'bg-gradient-black': $ctrl.im <= 0}">
                      <span class="bodyBadge bg-dark smallFont" style="color:lightgreen;">IM</span> Intron Mutants
                    </div>
                    <div ng-class="{'text-success': $ctrl.im > 0, 'text-muted': $ctrl.im <= 0}">
                      {{$ctrl.im}}
                    </div>
                  </div>
                  <div class="mutantBadge flexChild flip-in-hor-bottom">
                    <div ng-class="{'bg-gradient-purple': $ctrl.rm > 0, 'bg-gradient-black': $ctrl.rm <= 0}">
                      <span class="bodyBadge bg-dark smallFont" style="color:lightpink;">RM</span> Recombination Mutants
                    </div>
                    <div ng-class="{'text-success': $ctrl.rm > 0, 'text-muted': $ctrl.rm <= 0}">
                      {{$ctrl.rm}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" >
        <div class="well text-center">
          <h3 class="text-muted">Function(s) (<span class="text-pink">{{$ctrl.annotations.go.molfunc.length + $ctrl.annotations.go.bioproc.length}}</span>)</h3>
          <button class="glyphicon btn btn-default" ng-class="{'glyphicon-menu-down': !showFunctions, 'glyphicon-menu-up': showFunctions}" ng-click="showFunctions = !showFunctions"></button>
        </div>
        <div ng-show="showFunctions">
          <div class="flexParent">
              <div class="flexChild 385d94" style="padding:3px">
                  <div class="panel">
                      <div class="panel-heading text-purple">
                        <h2>Molecular Function</h2>
                      </div>
                      <div class="panel-body">
                          <gene-ontology gene="$ctrl.currentGene" goclass='mf_button'
                                         data="$ctrl.annotations.go.molfunc"></gene-ontology>
                      </div>

                  </div>
              </div>
              <div class="flexChild" style="padding:3px">
                  <div class="panel ">
                      <div class="panel-heading text-purple">
                        <h2>Biological Process</h2>
                      </div>
                      <div class="panel-body">
                          <gene-ontology gene="$ctrl.currentGene" goclass='bp_button'
                                         data="$ctrl.annotations.go.bioproc"></gene-ontology>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" >
        <div class="well text-center">
          <h3 class="text-muted">Operon (<span class="text-pink">{{$ctrl.annotations.operon.length}}</span>)</h3>
          <button class="glyphicon btn btn-default" ng-class="{'glyphicon-menu-down': !showOperon, 'glyphicon-menu-up': showOperon}" ng-click="showOperon = !showOperon"></button>
        </div>
        <div ng-show="showOperon">
          <div class="bg-white padding20">
            <operon-annotations operon="$ctrl.annotations.operon" allorggenes="$ctrl.allorggenes" gene="$ctrl.currentGene"></operon-annotations>
          </div>
        </div>
      </div>

      <div class="col-sm-12" >
        <div class="well text-center">
          <h3 class="text-muted">InterPro Domains (<span class="text-pink">{{$ctrl.annotations.interpro.length}}</span>)</h3>
          <button class="glyphicon btn btn-default" ng-class="{'glyphicon-menu-down': !showInterPro, 'glyphicon-menu-up': showInterPro}" ng-click="showInterPro = !showInterPro"></button>
        </div>
        <div ng-show="showInterPro">
          <div class="bg-white padding20">
            <inter-pro data="$ctrl.annotations.interpro"></inter-pro>
          </div>
        </div>
      </div>

      <div class="col-sm-12" >
        <div class="well text-center">
          <h3 class="text-muted">Enzyme (<span class="text-pink">{{$ctrl.annotations.ecnumber.length}}</span>)</h3>
          <button class="glyphicon btn btn-default" ng-class="{'glyphicon-menu-down': !showEnzyme, 'glyphicon-menu-up': showEnzyme}" ng-click="showEnzyme = !showEnzyme"></button>
        </div>
        <div ng-show="showEnzyme">
          <div class="bg-white padding20">
            <inter-pro data="$ctrl.annotations.interpro"></inter-pro>
          </div>
        </div>
      </div>



      <div class="col-sm-12">
        <div class="flexParent well">
          <div class="flexChild">
            <p>
              <span class="text-pink"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> References: </span>
                <a target="_blank" href="https://www.ncbi.nlm.nih.gov/gene?term={{ $ctrl.data.entrez }}" style="margin-right:5px;">
                  NCBI <i class="fas fa-external-link-square-alt"></i>
                </a>,
                <a target="_blank" href="http://www.wikidata.org/wiki/{{ $ctrl.data.geneQID }}" style="margin-right:5px;">
                  WikiData <i class="fas fa-external-link-square-alt"></i>
                </a>
            </p>
          </div>
          <div class="flexChild">
            <a data-target="#publications_modal" data-toggle="modal" class="btn"><span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Related Publications</a>
          </div>
          <div class="flexChild">
            <a data-target="#revision_modal" data-toggle="modal" class="btn"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Revision History</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END -->

<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="text-purple">
                Host Targets
              </td>
              <td class="text-dark">
                <span ng-repeat="x in $ctrl.annotations.hostpath">{{x.hostProteinLabel.value}}</span>
              </td>
            </tr>
            <tr>
              <td class="text-purple">
                Localizations
              </td>
              <td class="text-dark">
                <span ng-show="$ctrl.annotations.go.cellcomp.length > 0" ng-repeat="x in $ctrl.annotations.go.cellcomp">{{x.gotermValueLabel.value}}; </span>
                <span ng-hide="$ctrl.annotations.go.cellcomp.length > 0">None</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div> -->
<!-- Modal -->
<div class="modal fade" id="geneName_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <gene-name-form gene="$ctrl.data" ng-hide="showHelp"></gene-name-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
                    <span ng-hide="showHelp">Need Help?</span>
                    <span ng-show="showHelp">Back</span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="geneSymbol_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <gene-symbol-form gene="$ctrl.data" ng-hide="showHelp"></gene-symbol-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
                    <span ng-hide="showHelp">Need Help?</span>
                    <span ng-show="showHelp">Back</span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close
                </button>
            </div>
        </div>
    </div>
</div>

<div id="revision_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
          <div class="modal-header bg-purple">
              <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-pink-light">Revision History</h4>
          </div>
            <div class="modal-text-color modal-body padding20 ">
              <history-view gene="$ctrl.data.geneQID" protein="$ctrl.data.proteinQID"></history-view>
            </div>
        </div>
    </div>
</div>

<div id="publications_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
          <div class="modal-header bg-purple">
              <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-pink-light">Related Publications</h4>
          </div>
            <div class="modal-text-color modal-body padding20 ">
              <linked-pubs pubs="$ctrl.annotations.pubList"></linked-pubs>
            </div>
        </div>
    </div>
</div>

<div id="cell_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-purple">
              <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-pink-light">Cell Visualizer</h4>
          </div>
            <div class="modal-text-color modal-body padding20 ">
              <cell-visualizer cell-comp="$ctrl.annotations.go.cellcomp" development="$ctrl.data.developmentalForm"></cell-visualizer>
            </div>
        </div>
    </div>
</div>
