<!--<div ng-show="$ctrl.pageCount==0">-->
<!--<h1>page 1</h1>-->
<!--</div>-->
<!--<div ng-show="$ctrl.pageCount==1">-->
<!--<h1>page 2</h1>-->
<!--</div>-->
<!--<div ng-show="$ctrl.pageCount==2">-->
<!--<h1>page 3</h1>-->
<!--</div>-->
<style>
    .fadedColor {
        color: lightgrey;
    }

    .strongColor {
        color: #385d94;
    }
</style>
<div style="padding:20px">
    <table style="width:100%">
        <col width="20%"/>
        <col width="6%"/>
        <col width="20%"/>
        <col width="6%"/>
        <col width="20%"/>
        <col width="%"/>
        <col width="20%"/>
        <tr>
            <th class="strongColor">Function</th>
            <th class="strongColor glyphicon glyphicon-arrow-right"></th>

            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 1, 'strongColor': $ctrl.pageCount >= 1 }">Method</th>
            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 1, 'strongColor': $ctrl.pageCount >= 1 }"
                class="glyphicon glyphicon-arrow-right"></th>

            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 2, 'strongColor': $ctrl.pageCount >= 2}">Reference</th>
            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 2, 'strongColor': $ctrl.pageCount >= 2 }"
                class="glyphicon glyphicon-arrow-right"></th>

            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 4, 'strongColor': $ctrl.pageCount == 3}">Review</th>
        </tr>
    </table>
</div>
<form name='goAnnotationForm' class="form-group" ng-model="$ctrl.goFormModel">
    <div class="well" ng-show="$ctrl.pageCount==0" style="height:150px"><h4>Search for a {{$ctrl.goclass |
        goClass}}</h4>

        <input id="goInput"
               type="text"
               ng-model="$ctrl.goFormModel.go"
               placeholder="{{$ctrl.goclass | goClass}}"
               uib-typeahead="go as go.goterm_label.value for go in $ctrl.getGoTermsAll($viewValue)"
               typeahead-loading="loadingGOTerms"
               typeahead-no-results="noResults"
               class="form-control"
               typeahead-wait-ms="900"
                >
        <i ng-show="loadingGOTerms" class="glyphicon glyphicon-refresh"></i>

        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
        <div class="well-sm">
            <a target="_blank" href="http://geneontology.org/page/about">The Gene Ontology Project (GO)</a>
        </div>
    </div>
    <div class="well" ng-show="$ctrl.pageCount==1" style="height:150px"><h4>Select a Determination Method</h4>
        <select id='eviInput' class="form-control" ng-model="$ctrl.goFormModel.evi" required="required"
                ng-options="option as option.name + ' (' + option.evidence_codeLabel + ') ' for option in $ctrl.evidence">
            <option style="display:none" value="">GO Evidence Code</option>
        </select>

        <div class="well-sm">
            <a target="_blank" href="http://geneontology.org/page/guide-go-evidence-codes">Guide to GO Evidence
                Codes</a>
        </div>
    </div>
    <div class="well" ng-show="$ctrl.pageCount==2" style="height:150px"><h4>Search for Referenced Publication</h4>

        <input id="pubInput"
               type="text"
               ng-model="$ctrl.goFormModel.pub"
               placeholder="PMID"
               uib-typeahead="pmid as pmid.title +  ' PMID:' + pmid.uid for pmid in $ctrl.getPMID($viewValue)"
               typeahead-loading="loadingPub"
               typeahead-no-results="noPubResults"
               class="form-control"
               typeahead-wait-ms="900"
                >
        <i ng-show="loadingPub" class="glyphicon glyphicon-refresh"></i>

        <div ng-show="noPubResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
    </div>
    <div class="well" ng-show="$ctrl.pageCount==3" style="height:150px">
        <h4>Review for submission</h4>

        <div>
            <p ng-show="$ctrl.validateFields()"> The protein "<strong>{{$ctrl.gene.proteinLabel}}</strong>"is
                involved in
                "<strong>{{$ctrl.goFormModel.go.goterm_label.value}}</strong>". This claim was stated in
                " <strong>{{$ctrl.goFormModel.pub.authors[0].name}} <i>et al.</i>
                    {{$ctrl.goFormModel.pub.pubdate}}</strong>"
                and determined by "<strong>{{$ctrl.goFormModel.evi.name}}</strong>"
            </p>
        </div>
        <div>
            <p ng-show="!$ctrl.validateFields()">Please fill out all form fields before proceeding</p>
        </div>
    </div>
    <div style="width:100%">
        <div ng-hide="$ctrl.pageCount==0" class="btn btn-default" ng-click="$ctrl.backClick()">
            Previous
        </div>
        <div style="float:right" ng-hide="$ctrl.pageCount==3" class="btn btn-default" ng-click="$ctrl.nextClick()">
            Next
        </div>
    </div>
    <div style="clear:both; width:100%; margin-top: 10px">
        <div class="btn btn-warning" ng-click="$ctrl.resetForm()">Reset</div>
        <div style="float:right" ng-show="$ctrl.validateFields()" class="btn btn-success"
             ng-click="$ctrl.sendData($ctrl.goFormModel)">
            Submit Annotation
        </div>


    </div>
</form>