<h5>Host Protein Interactions</h5>
<table ng-table="$ctrl.tableParams" class="table table-hover">
    <col width="15%"/>
    <col width="25%"/>
    <col width="25%"/>
    <col width="25%"/>
    <col width="10%"/>
    <div>
    </div>
    <tr ng-repeat="x in $ctrl.data | interactions2host" ng-show="$ctrl.data.length!=0">
        <td title="'Host Gene Symbol'">
            {{ x.hostGeneLabel.value }}
        </td>
        <td title="'Host Protein'">
            {{ x.hostProteinLabel.value }}
        </td>
        <td title="'Host'">
            {{ x.hostLabel.value }}
        </td>
        <td title="'Determination Method'">
            {{ x.determinationLabel.value }}
        </td>
        <td title="'References'">
            <!-- Button trigger modal -->
            <div style="padding: 3px">
                <a data-toggle="modal"
                   data-target="#{{ x.pmid.value }}_pubmed">
                    <img uib-tooltip="Cited Publication" style="height: 14px; margin-top: -3px"
                         data-ng-src="/static/wiki/img/pubmedGlyph.png">
                </a>
            </div>

            <!-- Modal -->
            <div class="modal" id="{{ x.pmid.value }}_pubmed" tabindex="-1" role="dialog"
                 aria-labelledby="refModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="refModalTitle"><strong>Publications Cited</strong></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Stated in: </h4> <a target="_blank"
                                                    href="{{ x.reference_stated_in.value }}">{{ x.reference_stated_inLabel.value }}</a><br/>
                            <h4>PMID: </h4> <a target="_blank"
                                               href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pmid.value }}">{{ x.pmid.value }}</a><br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td ng-show="$ctrl.data.length==0">
            No data
        </td>
    </tr>
</table>

<h5>Bacterial Interactions</h5>
<table ng-table="$ctrl.tableParams" class="table table-hover">
    <col width="15%"/>
    <col width="25%"/>
    <col width="25%"/>
    <col width="25%"/>
    <col width="10%"/>
    <tr ng-repeat="x in $ctrl.data  | interactions2bacteria" ng-show="$ctrl.data.length!=0">
        <td title="'Bacterial Gene Symbol'">
            {{ x.hostGeneLabel.value }}
        </td>
        <td title="'Bacterial Protein'">
            {{ x.hostProteinLabel.value }}
        </td>
        <td title="'Bacteria'">
            {{ x.hostLabel.value }}
        </td>
        <td title="'Determination Method'">
            {{ x.determinationLabel.value }}
        </td>
        <td title="'References'">
            <!-- Button trigger modal -->
            <div style="padding: 3px">
                <a data-toggle="modal"
                   data-target="#{{ x.pmid.value }}_pubmed">
                    <img uib-tooltip="Cited Publication" style="height: 14px; margin-top: -3px"
                         data-ng-src="/static/wiki/img/pubmedGlyph.png">
                </a>
            </div>

            <!-- Modal -->
            <div class="modal" id="{{ x.pmid.value }}_pubmed" tabindex="-1" role="dialog"
                 aria-labelledby="refModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="refModalTitle"><strong>Publications Cited</strong></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Stated in: </h4> <a target="_blank"
                                                    href="{{ x.reference_stated_in.value }}">{{ x.reference_stated_inLabel.value }}</a><br/>
                            <h4>PMID: </h4> <a target="_blank"
                                               href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pmid.value }}">{{ x.pmid.value }}</a><br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td ng-show="$ctrl.data.length==0">
            No data
        </td>
    </tr>
</table>
<button type="button" class="btn btn-default" data-toggle="modal"
        data-target="#hostPath_button">
    Add an annotation
</button>
<!-- Modal -->
<div class="modal fade" id="hostPath_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <hostpath-form data="" ng-hide="showHelp"></hostpath-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>
