<landing-header page="'main'"></landing-header>
<div class="container-fluid" style="padding-top: 10vh; padding-bottom: 40px; background: #414449;">
    <div class="container">
        <div class="panel" style="border: 2px grey solid;">
            <div style="padding:5px;" class="text-center" ng-class="{'bg-434-grad': $ctrl.backgrounds[0],'bg-DUX-grad': $ctrl.backgrounds[1],'bg-NIGG-grad': $ctrl.backgrounds[2],'bg-CW-grad': $ctrl.backgrounds[3]}">
              <table>
                <col width="20%">
                <col width="60%">
                <col width="20%">
                <tbody>
                  <tr>
                      <td class="text-center">
                        <a  tooltip-placement="bottom" uib-tooltip="Genome Level" class="btn outlineBtn" href="/organism/{{ $ctrl.currentTaxid }}">
                        <i class="fas fa-chevron-left"></i>
                        </a>
                      </td>
                      <td >
                          <img class="dropShadow" style="display:inline;" width="25px" src="static/wiki/img/{{$ctrl.icon}}" />
                          &nbsp;
                          <h4 style="display:inline;" class="noMargin text-light textShadow">{{ $ctrl.orgName}}</h4>
                      </td>
                      <td>
                          <div class="taxIDBadge">
                              <i class="fas fa-passport"></i> NCBI TaxID: {{ $ctrl.currentTaxid }}
                          </div>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <uib-tabset active="active" class="bg-purple noBorder">
              <uib-tab index="'overview'">
                <uib-tab-heading >
                  Gene Overview
                </uib-tab-heading>
                <gene-overview data="$ctrl.currentGene" annotations="$ctrl.annotations"></gene-overview>
              </uib-tab>
              <uib-tab index="'jbrowse'" select="$ctrl.jLoad()">
                <uib-tab-heading >
                  Genome Browser
                </uib-tab-heading>
                <div id="jbrowse-div">
                  <jbrowse-view start="$ctrl.currentGene.genStart" end="$ctrl.currentGene.genEnd" delay="true"
                                refseq="$ctrl.currentGene.refseqGenome" highlight="true" load="$ctrl.jLoad"></jbrowse-view>
                </div>
              </uib-tab>
              <uib-tab index="'alignment'" ng-show="$ctrl.settings['alignment']">
                <uib-tab-heading >
                  Ortholog Alignment(s)
                </uib-tab-heading>
                <alignment-view locus-tag="$ctrl.currentGene.locusTag" tax-id="$ctrl.currentGene.taxid"></alignment-view>
              </uib-tab>
              <uib-tab index="'movie'" ng-show="$ctrl.settings['movie']">
                  <uib-tab-heading >
                      Movie Data
                  </uib-tab-heading>
                  <movie-view data="$ctrl.currentGene.movie" gene="$ctrl.currentGene"></movie-view>
              </uib-tab>
                <uib-tab index="'product'" ng-show="$ctrl.settings['product']">
                    <uib-tab-heading >
                        Gene Product
                    </uib-tab-heading>
                    <protein-view protein="$ctrl.currentGene"></protein-view>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="authorization_button" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:10px">
        	<div class="modal-header bg-dark">
        		<h4 class="modal-title text-pink-light">{{$ctrl.appData.title}} Authorization</h4>
        	</div>
        	<div class="modal-body">
        		<oauth-form ng-hide="showHelp"></oauth-form>
            	<help-form ng-show="showHelp"></help-form>
        	</div>
            <div class="modal-footer bg-dark">
            	<button type="button" class="btn themeButton-small" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn themeButton-small" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>
