<style>
label {
	margin-top: 10px;
}
</style>
<form ng-model="$ctrl.movieAnnotation">
	<div class="form-group" ng-show="$ctrl.pageCount==0">
		<label>Youtube URI</label>
		<div class="form-inline">
			<input  type="text" class="form-control" ng-model="$ctrl.movieAnnotation.id">
			<span ng-class="{'glyphicon glyphicon-ok': $ctrl.validateId(), 
							'glyphicon glyphicon-remove': !$ctrl.validateId()}"></span>
		</div>
	</div>
	<div class="form-group"
		ng-show="$ctrl.validateId() && $ctrl.pageCount==0">
		<label>Video to be shown on page:</label><br>
		<iframe width="560" height="315" ng-src="{{'https://www.youtube.com/embed/' + $ctrl.movieAnnotation.id}}" frameborder="0" allow="autoplay; encrypted-media"></iframe>
	</div>
	
	<div ng-show="$ctrl.pageCount==1">
		<p>
			The protein encoded by <strong>{{
				$ctrl.gene.locusTag }}</strong> has the phenotype captured in <br>
				https://www.youtube.com/watch?v=<strong><i>{{$ctrl.movieAnnotation.id }}</i></strong>.
		</p>
	</div>

	<div style="float: right" class="btn btn-default" ng-click="$ctrl.nextClick()"
		ng-show="$ctrl.validateId() && $ctrl.pageCount==0">Review
		for Submission</div>
	<div style="height: 30px; width: 100%; margin-bottom:10px">
		<div ng-show="$ctrl.pageCount>=1" class="btn btn-default"
			ng-click="$ctrl.backClick()">Previous</div>
		<div style="float: right; margin-bottom:10px"
			ng-show="$ctrl.pageCount==0 && $ctrl.pubValue != null"
			class="btn btn-default" ng-click="$ctrl.nextClick()">Next</div>
	</div>
	<div ng-show="$ctrl.pageCount==1" style="clear: both; width: 100%; margin-top: 10px">
		<div class="btn btn-warning" ng-click="$ctrl.resetForm()">Reset</div>
		<div style="float: right" class="btn btn-success"
			ng-click="$ctrl.sendData()">
			Submit Annotation
		</div>
	</div>
</form>
