<div align="right" ng-if="$ctrl.data && $ctrl.data.length!=0" style="overflow: auto">Search: <input type="text" placeholder="Ex. silent_mutation" ng-model="$ctrl.keyword" class="form-control" style="width: 200px; display:inline"></div>
<div class="table-responsive">
	<table ng-table="$ctrl.chemParams" class="table table-hover" show-filter="false">
	    <caption style="color:#385d94">Chemical Mutagenesis</caption>
	    <tr ng-show="$ctrl.chemParams.data.length!=0" ng-repeat="x in $data | filter: $ctrl.keyword">
	        <td title="'Mutant Strain'" sortable="'name'">
	            {{ x.name }}
	        </td>
	        <td title="'Genomic Position'" sortable="'start'">
	            {{ x.start }}
	        </td>
	        <td title="'L2 Base'" sortable="'ref_base'">
	            {{ x.ref_base }}
	        </td>
	        <td title="'Variant Base'" sortable="'variant_base'">
	            {{ x.variant_base }}
	        </td>
	        <td title="'SNV Type'" sortable="'snv_name'">
	            {{ x.snv_name }}
	        </td>
	        <td title="'Effect on Amino Acid'" sortable="'aa_effect'">
	            {{ x.aa_effect }}
	        </td>
	        <td title="'Reference'">
	            <!-- Button trigger modal -->
	
	            <a ng-show="x.pub" target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pub}}">
	                <img uib-tooltip="Link to publication in PubMed" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/pubmedGlyph.png">
	            </a>
	            
	            <a ng-show="x.doi" target="_blank" href="https://doi.org/{{ x.doi}}">
	                <img uib-tooltip="Link to publication in Figshare" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/fs-logo.png">
	            </a>
	        </td>
	        
	        <td ng-if="$ctrl.authorized" title="'Delete Annotation'">
	            <a class="glyphicon glyphicon-remove"
	               ng-click="$ctrl.deleteAnnotation(x); $ctrl.data.splice($index,1)">
	            </a>
	        </td>
	
	    </tr>
	    <tr>
	        <td ng-show="$ctrl.chemParams.data.length==0">
	            No data
	        </td>
	    </tr>
	</table>
</div>
<div class="table-responsive">
	<table ng-table="$ctrl.transParams" class="table table-hover" show-filter="false">
	    <caption style="color:#385d94">Transposon Mutagenesis</caption>
	    <tr ng-show="$ctrl.transParams.data.length!=0" ng-repeat="x in $data | filter: $ctrl.keyword">
	        <td title="'Mutant Strain'" sortable="'name'">
	            {{ x.name }}
	        </td>
	        <td title="'Genomic Position'" sortable="'start'">
	            {{ x.start }}
	        </td>
	        <td title="'Percent Left Intact'" sortable="'percent_gene_intact'">
	            {{ x.percent_gene_intact }}
	        </td>
	        <td title="'Insert Direction'" sortable="'insert_direction'">
	            {{ x.insert_direction }}
	        </td>
	
	        <td title="'Reference'">
	            <a ng-show="x.pub" target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pub}}">
	                <img uib-tooltip="Link to publication in PubMed" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/pubmedGlyph.png">
	            </a>
	            
	            <a ng-show="x.doi" target="_blank" href="https://doi.org/{{ x.doi}}">
	                <img uib-tooltip="Link to publication in Figshare" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/fs-logo.png">
	            </a>
	        </td>
	        
	        <td ng-if="$ctrl.authorized" title="'Delete Annotation'">
	            <a class="glyphicon glyphicon-remove"
	               ng-click="$ctrl.deleteAnnotation(x); $ctrl.data.splice($index,1)">
	            </a>
	        </td>
	
	    </tr>
	    <tr>
	        <td ng-show="$ctrl.transParams.data.length==0">
	            No data
	        </td>
	    </tr>
	</table>
</div>
<div class="table-responsive">
	<table ng-table="$ctrl.intronParams" class="table table-hover" show-filter="false">
	    <caption style="color:#385d94">Intron Mutagenesis</caption>
	    <tr ng-show="$ctrl.intronParams.data.length!=0" ng-repeat="x in $data | filter: $ctrl.keyword">
	        <td title="'Mutant Strain'" sortable="'name'">
	            {{ x.name }}
	        </td>
	        <td title="'Genomic Position'" sortable="'start'">
	            {{ x.start }}
	        </td>
	        <td title="'Percent Left Intact'" sortable="'percent_gene_intact'">
	            {{ x.percent_gene_intact }}
	        </td>
	        <td title="'Insert Direction'" sortable="'insert_direction'">
	            {{ x.insert_direction }}
	        </td>
	
	        <td title="'Reference'">
	            <a ng-show="x.pub" target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pub}}">
	                <img uib-tooltip="Link to publication in PubMed" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/pubmedGlyph.png">
	            </a>
	            
	            <a ng-show="x.doi" target="_blank" href="https://doi.org/{{ x.doi}}">
	                <img uib-tooltip="Link to publication in Figshare" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/fs-logo.png">
	            </a>
	        </td>
	        
	        <td ng-if="$ctrl.authorized" title="'Delete Annotation'">
	            <a class="glyphicon glyphicon-remove"
	               ng-click="$ctrl.deleteAnnotation(x); $ctrl.data.splice($index,1)">
	            </a>
	        </td>
	
	    </tr>
	    <tr>
	        <td ng-show="$ctrl.intronParams.data.length==0">
	            No data
	        </td>
	    </tr>
	</table>
</div>

<div class="table-responsive">
	<table ng-table="$ctrl.recombParams" class="table table-hover" show-filter="false">
	    <caption style="color:#385d94">Recombination</caption>
	    <tr ng-show="$ctrl.recombParams.data.length!=0" ng-repeat="x in $data | filter: $ctrl.keyword">
	        <td title="'Mutant Strain'" sortable="'name'">
	            {{ x.name }}
	        </td>
	        <td title="'Start Position'" sortable="'start'">
	            {{ x.start }}
	        </td>
	        <td title="'End Position'" sortable="'end'">
	            {{ x.end }}
	        </td>
	        <td title="'Gene(s) Inserted'" sortable="'genes_inserted'">
	            {{ x.genes_inserted }}
	        </td>
	        <td title="'Insert Direction'" sortable="'insert_direction'">
	            {{ x.insert_direction }}
	        </td>
	
	        <td title="'Reference'">
	            <a ng-show="x.pub" target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pub}}">
	                <img uib-tooltip="Link to publication in PubMed" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/pubmedGlyph.png">
	            </a>
	            
	            <a ng-show="x.doi" target="_blank" href="https://doi.org/{{ x.doi}}">
	                <img uib-tooltip="Link to publication in Figshare" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/fs-logo.png">
	            </a>
	        </td>
	        
	        <td ng-if="$ctrl.authorized" title="'Delete Annotation'">
	            <a class="glyphicon glyphicon-remove"
	               ng-click="$ctrl.deleteAnnotation(x); $ctrl.data.splice($index,1)">
	            </a>
	        </td>
	
	    </tr>
	    <tr>
	        <td ng-show="$ctrl.recombParams.data.length==0">
	            No data
	        </td>
	    </tr>
	</table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal"
        data-target="#mutForm">
    Add an annotation
</button>
<!-- Modal -->
<div class="modal fade" id="mutForm" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="refModalTitle">Add a Mutation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mutant-form ng-hide="showHelp"></mutant-form>
                <help-form ng-show="showHelp"></help-form>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>



