<div ng-show="$ctrl.loading" class="overlay">
    <div class="loading-img"></div>
</div>
<div style="padding:20px">
    <table style="width:100%">
        <col width="20%"/>
        <col width="6%"/>
        <col width="20%"/>
        <col width="6%"/>
        <col width="20%"/>
        <col width="8%"/>
        <col width="20%"/>
        <tr>
            <th class="strongColor">Operon</th>
            <th class="strongColor glyphicon glyphicon-arrow-right"></th>

            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 1, 'strongColor': $ctrl.pageCount >= 1 }">Regulated Genes
            </th>
            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 1, 'strongColor': $ctrl.pageCount >= 1 }"
                class="glyphicon glyphicon-arrow-right"></th>

            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 2, 'strongColor': $ctrl.pageCount >= 2}">Reference</th>
            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 2, 'strongColor': $ctrl.pageCount >= 2 }"
                class="glyphicon glyphicon-arrow-right"></th>
            <th ng-class="{ 'fadedColor': $ctrl.pageCount < 4, 'strongColor': $ctrl.pageCount == 3}">Review</th>
        </tr>
    </table>


</div>
<form name='opAnnotationForm' class="form-group" ng-model="$ctrl.opFormModel">

    <div class="well" ng-show="$ctrl.pageCount==0" style="min-height:160px">
        <h4>Create a new operon</h4>
        <div class="input-group">
            <input ng-model="$ctrl.opNewName" type="text" class="form-control ui-widget" id="operonName"
                   placeholder="operon">
      <span class="input-group-btn">
        <div ng-click="$ctrl.nameOperon($ctrl.opNewName)" class="btn btn-default">Go!</div>
      </span>
        </div>
        <!--<h4>Search for an existing operon</h4>-->
        <!--<input id="opInput"-->
               <!--type="text"-->
               <!--ng-model="$ctrl.operonValue"-->
               <!--placeholder="operon"-->
               <!--uib-typeahead="op as op.operonLabel.value for op in $ctrl.allOrgOperons | filter:$viewValue | limitTo:200""-->
        <!--typeahead-loading="loadingOperons"-->
        <!--typeahead-no-results="noResults"-->
        <!--class="form-control"-->
        <!--typeahead-wait-ms="900"-->
        <!--typeahead-on-select="$ctrl.selectOperon($item, $model, $value)"-->
        <!-->
        <!--<i ng-show="loadingOperons" class="glyphicon glyphicon-refresh"></i>-->

        <!--<div ng-show="noResults">-->
            <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
        <!--</div>-->

        <div ng-show="$ctrl.opFormModel.operon">
            <div style="padding:10px 2px 2px 2px">
                <button class="btn btn-info">
                    {{$ctrl.opFormModel.operon.operonLabel.value}}
                    <div data-ng-click="$ctrl.opFormModel.operon=null" class="glyphicon glyphicon-remove"></div>
                </button>
            </div>
        </div>

    </div>
    <div class="well" ng-show="$ctrl.pageCount==1" style="min-height:160px"><h4>Select the genes regulated by this operon</h4>
        <input id="genesInput"
               type="text"
               ng-model="$ctrl.geneValue"
               placeholder="genes under operon regulation"
               uib-typeahead="gene.geneLabel.value for gene in $ctrl.allOrgGenes | filter:$viewValue | limitTo:200"
               typeahead-loading="loadingGenes"
               typeahead-no-results="noResults"
               class="form-control"
               typeahead-wait-ms="900"
               typeahead-on-select="$ctrl.selectGene($item, $model, $value)"
                >
        <i ng-show="loadingGenes" class="glyphicon glyphicon-refresh"></i>

        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
        <div style="display: inline-block" ng-repeat="gene in $ctrl.opFormModel.genes">
            <div style="padding:10px 2px 2px 2px">
                <button class="btn btn-info">
                    {{gene.locusTag}}
                    <div data-ng-click="$ctrl.removeGene(gene)" class="glyphicon glyphicon-remove"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="well" ng-show="$ctrl.pageCount==2" style="min-height:160px"><h4>Search for Referenced Publication</h4>

        <input id="pubInput"
               type="text"
               ng-model="$ctrl.pubValue"
               placeholder="PMID"
               uib-typeahead="pmid as pmid.title +  ' PMID:' + pmid.uid for pmid in $ctrl.getPMID($viewValue)"
               typeahead-loading="loadingPub"
               typeahead-no-results="noPubResults"
               class="form-control"
               typeahead-wait-ms="900"
               typeahead-on-select="$ctrl.selectPub($item, $model, $value)"
                >
        <i ng-show="loadingPub" class="glyphicon glyphicon-refresh"></i>

        <div ng-show="noPubResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
        <div ng-show="$ctrl.opFormModel.pub">
            <div style="padding:10px 2px 2px 2px">
                <button class="btn btn-info">
                    {{$ctrl.opFormModel.pub.authors[0].name}} et. al {{$ctrl.opFormModel.pub.pubdate}}
                    <div data-ng-click="$ctrl.opFormModel.pub=null" class="glyphicon glyphicon-remove"></div>
                </button>
            </div>
        </div>
    </div>
    <div class="well" ng-show="$ctrl.pageCount==3" style="min-height:150px">
        <h4>Review for submission</h4>

        <div>
            <p ng-show="$ctrl.validateFields()"> The operon
                "<strong>{{$ctrl.opFormModel.operon.operonLabel.value}}</strong>" regulates
                the
                expression of the genes:
            <ul ng-repeat="gene in $ctrl.opFormModel.genes">
                <li>{{gene.locusTag}}</li>
            </ul>
            This claim was stated in
            " <strong>{{$ctrl.opFormModel.pub.authors[0].name}} <i>et al.</i>
            {{$ctrl.opFormModel.pub.pubdate}}</strong>".
            </p>
        </div>
        <div>
            <p ng-show="!$ctrl.validateFields()">Please fill out all form fields before proceeding</p>
        </div>
    </div>
    <div style="height:30px; width:100%">
        <div ng-hide="$ctrl.pageCount==0" class="btn btn-default" ng-click="$ctrl.backClick()">
            Previous
        </div>
        <div style="float:right" ng-hide="$ctrl.pageCount==3" class="btn btn-default" ng-click="$ctrl.nextClick()">
            Next
        </div>
    </div>
    <div style="clear:both; width:100%; margin-top: 10px">
        <div class="btn btn-warning" ng-click="$ctrl.resetForm()">Reset</div>
        <div style="float:right" ng-show="$ctrl.validateFields() && $ctrl.pageCount==3" class="btn btn-success"
             ng-click="$ctrl.sendData($ctrl.opFormModel)">
            Submit Annotation
        </div>


    </div>
    <!--<pre>{{$ctrl.opFormModel | json}}</pre>-->
</form>
