<style>
label {
	margin-top: 10px;
}
</style>
<form ng-model="$ctrl.pdbAnnotation">
	<div class="form-group" ng-show="$ctrl.pageCount==0">
		<label>Protein DataBank ID</label> 
		<div class="form-inline">
			<input  type="text" class="form-control" ng-model="$ctrl.pdbAnnotation.id">
			<span ng-class="{'glyphicon glyphicon-ok': $ctrl.validateId(), 
							'glyphicon glyphicon-remove': !$ctrl.validateId()}"></span>
		</div>
	</div>
	<div class="form-group"
		ng-show="$ctrl.validateId() && $ctrl.pageCount==0">
		<label>Image of Protein Structure</label><br>
		<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{$ctrl.pdbAnnotation.id | lowercase}}_deposited_chain_front_image-800x800.png" width="100px">
		<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{$ctrl.pdbAnnotation.id | lowercase}}_deposited_chain_side_image-800x800.png" width="100px">
		<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{$ctrl.pdbAnnotation.id | lowercase}}_deposited_chain_top_image-800x800.png" width="100px">
	</div>
	<div class="form-group"
		ng-show="$ctrl.validateId() && $ctrl.pageCount==0">
		<label for="pubInput">Reference Publication</label> <input
			id="pubInput" type="text" ng-model="$ctrl.pubValue"
			placeholder="PMID"
			uib-typeahead="pmid as pmid.title +  ' PMID:' + pmid.uid for pmid in $ctrl.getPMID($viewValue)"
			typeahead-loading="loadingPub" typeahead-no-results="noPubResults"
			class="form-control" typeahead-wait-ms="500"
			typeahead-on-select="$ctrl.selectPub($item, $model, $value)">
		<i ng-show="loadingPub" class="glyphicon glyphicon-refresh"></i>

		<div ng-show="noPubResults">
			<i class="glyphicon glyphicon-remove"></i> No Results Found
		</div>
	</div>
	<div class="well" ng-show="$ctrl.pageCount==1" style="min-height: 200px">
		<h4>Select all genes you wish to apply this annotation to:</h4>
		<table class="table table-hover">
			<tr>
				<td title="'Strain'">Strain</td>
				<td title="'Taxid'">Taxid</td>
				<td title="'Locus Tag'">Locus Tag</td>
				<td title="'Target'">Target</td>
			</tr>
			<tr ng-repeat="(key, value) in $ctrl.orthoData">
				<td title="'Strain'">{{ key | taxid2Name }}</td>
				<td title="'Taxid'">{{ key }}</td>
				<td title="'Locus Tag'">{{value}}</td>
				<td title="'Target'"><input type="checkbox" ng-model="$ctrl.projection[key]">
				</td>
			</tr>
		</table>
	</div>
	
	<div ng-show="$ctrl.pageCount==2">
		<p>
			The protein encoded by <strong>{{
				$ctrl.gene.locusTag }}</strong> has the structure <strong><i>{{
					$ctrl.pdbAnnotation.id }}</i></strong>. This
			structure was determined by <strong>{{
				$ctrl.pdbAnnotation.pub.authors[0].name }} et al. {{
				$ctrl.pdbAnnotation.pub.pubdate }}</strong>.<br>
			<br> This annotation will be applied to:
		<ul>
			<li ng-repeat="(key,value) in $ctrl.projection"
				ng-show="value == true">{{$ctrl.orthoData[key]}}</li>
		</ul>
		</p>
	</div>

	<div style="float: right" class="btn btn-default" ng-click="$ctrl.nextClick()"
		ng-show="$ctrl.pdbAnnotation.pub && $ctrl.pageCount==1">Review
		for Submission</div>
	<div style="height: 30px; width: 100%; margin-bottom:10px">
		<div ng-show="$ctrl.pageCount>=1" class="btn btn-default"
			ng-click="$ctrl.backClick()">Previous</div>
		<div style="float: right; margin-bottom:10px"
			ng-show="$ctrl.pageCount==0 && $ctrl.pubValue != null"
			class="btn btn-default" ng-click="$ctrl.nextClick()">Next</div>
	</div>
	<div ng-show="$ctrl.pageCount==2" style="clear: both; width: 100%; margin-top: 10px">
		<div class="btn btn-warning" ng-click="$ctrl.resetForm()">Reset</div>
		<div style="float: right" class="btn btn-success"
			ng-click="$ctrl.sendData()" ng-show="$ctrl.pdbAnnotation.pub">
			Submit Annotation
		</div>
	</div>
</form>
