<p ng-show="$ctrl.hostData.length==0 && $ctrl.bacData.length==0">No data</p>
<div ng-show="$ctrl.hostData.length!=0">
    <h5>Host Protein Interactions</h5>
    <table ng-table="$ctrl.hpiParams" class="table table-hover" show-filter="false">
        <col width="15%"/>
        <col width="25%"/>
        <col width="25%"/>
        <col width="25%"/>
        <col width="10%"/>
        <tr ng-repeat="x in $data">
            <td title="'Host Gene Symbol'" filter="{hostGeneLabel: 'text'}" sortable="'hostGeneLabel'">
                {{ x.hostGeneLabel }}
            </td>
            <td title="'Host Protein'" filter="{hostProteinLabel: 'text'}" sortable="'hostProteinLabel'">
                {{ x.hostProteinLabel }}
            </td>
            <td title="'Host'" filter="{hostLabel: 'text'}" sortable="'hostLabel'">
                {{ x.hostLabel }}
            </td>
            <td title="'Determination Method'" filter="{determinationLabel: 'text'}" sortable="'determinationLabel'">
                {{ x.determinationLabel }}
            </td>
            <td title="'References'">
                <!-- Button trigger modal -->
                <div style="padding: 3px">
                    <a data-toggle="modal"
                       data-target="#{{ x.pmid }}_pubmed">
                        <img uib-tooltip="Cited Publication" style="height: 14px; margin-top: -3px"
                             data-ng-src="/static/wiki/img/pubmedGlyph.png">
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal" id="{{ x.pmid }}_pubmed" tabindex="-1" role="dialog"
                     aria-labelledby="refModalTitle"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="refModalTitle"><strong>Publications Cited</strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4>Stated in: </h4> <a target="_blank"
                                                        href="{{ x.reference_stated_in }}">{{ x.reference_stated_inLabel }}</a><br/>
                                <h4>PMID: </h4> <a target="_blank"
                                                   href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pmid }}">{{ x.pmid }}</a><br/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div ng-show="$ctrl.bacData.length!=0">
    <h5>Bacterial Interactions</h5>
    <table ng-table="$ctrl.bpParams" class="table table-hover" show-filter="true">
        <col width="15%"/>
        <col width="25%"/>
        <col width="25%"/>
        <col width="25%"/>
        <col width="10%"/>
        <tr ng-repeat="x in $data">
            <td title="'Bacterial Gene Symbol'" filter="{hostGeneLabel: 'text'}" sortable="'hostGeneLabel'">
                {{ x.hostGeneLabel }}
            </td>
            <td title="'Bacterial Protein'" filter="{hostProteinLabel: 'text'}" sortable="'hostProteinLabel'">
                {{ x.hostProteinLabel }}
            </td>
            <td title="'Bacteria'" filter="{hostLabel: 'text'}" sortable="'hostLabel'">
                {{ x.hostLabel }}
            </td>
            <td title="'Determination Method'" filter="{determinationLabel: 'text'}" sortable="'determinationLabel'">
                {{ x.determinationLabel }}
            </td>
            <td title="'References'">
                <!-- Button trigger modal -->
                <div style="padding: 3px">
                    <a data-toggle="modal"
                       data-target="#{{ x.pmid }}_pubmed">
                        <img uib-tooltip="Cited Publication" style="height: 14px; margin-top: -3px"
                             data-ng-src="/static/wiki/img/pubmedGlyph.png">
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal" id="{{ x.pmid }}_pubmed" tabindex="-1" role="dialog"
                     aria-labelledby="refModalTitle"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="refModalTitle"><strong>Publications Cited</strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4>Stated in: </h4> <a target="_blank"
                                                        href="{{ x.reference_stated_in }}">{{ x.reference_stated_inLabel }}</a><br/>
                                <h4>PMID: </h4> <a target="_blank"
                                                   href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pmid }}">{{ x.pmid }}</a><br/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<button type="button" class="btn themeButton" ng-click="$ctrl.checkAuthorization('hostPath_button')">
    Add an annotation <span class="glyphicon glyphicon-plus"></span>
</button>
<!-- Modal -->
<div class="modal fade" id="hostPath_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <hostpath-form data="" ng-hide="showHelp"></hostpath-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>
