<h5>Protein Overview</h5>
<div class="table-responsive">
    <table class="table table-hover">
        <th>Product type</th>
        <th>Mass</th>
        <th>UniProt ID</th>
        <th>NCBI RefSeq ID</th>
        <th>References</th>
        <th>BLAST</th>
        <th>Download</th>
        <tr>
            <td>{{ $ctrl.protein.productType.id | typeFilter}}</td>
            <td>{{$ctrl.protein.mass}}</td>
            <td>{{ $ctrl.protein.uniprot}}</td>
            <td>{{ $ctrl.protein.refseqProt}}</td>
            <td>
                <a target="_blank" href="http://www.uniprot.org/uniprot/{{$ctrl.protein.uniprot}}">
                    <img uib-tooltip="UniProt Database Entry" style="height: 14px; margin-top: -3px"
                         data-ng-src="/static/wiki/img/uniprot-logo.png">
                </a>
                <a target="_blank" href="https://www.ncbi.nlm.nih.gov/protein?term={{$ctrl.protein.refseqProt}}">
                    <img uib-tooltip="NCBI Database Entry" style="height: 14px; margin-top: -3px"
                         data-ng-src="/static/wiki/img/NCBI-logo-2.png">
                </a>
                <a target="_blank" href="http://www.wikidata.org/wiki/{{$ctrl.protein.proteinQID}}">
                    <img uib-tooltip="Wikidata Database Item" style="height: 14px; margin-top: -3px"
                         data-ng-src="/static/wiki/img/GeneWikidata-logo-en.png">
                </a>
            </td>
            <td>
                <a uib-tooltip="Blast Protein" href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome&QUERY={{$ctrl.protein.sequenceProt}}" target="_blank">
                	<img style="height: 14px; margin-top: -3px" data-ng-src="/static/wiki/img/NCBI-logo-2.png">
                </a>
            </td>
            <td>
                <a uib-tooltip="Download Protein Fasta" class="glyphicon glyphicon-download" href="https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=protein&rettype=FASTA&id={{$ctrl.protein.refseqProt}}">
                </a>
            </td>
        </tr>
    </table>
</div>
<h5>Protein DataBank ID(s)</h5>
<div class="table-responsive">
	<table class="table table-hover">
	
		<th>PDB ID</th>
		<th>Image</th>
		<th>References</th>
		
		<tr ng-repeat="x in $ctrl.protein.pdbIds">
			<td>
				<a target="_blank" href="http://www.rcsb.org/structure/{{ x.pdbId.value }}">{{x.pdbId.value}}</a>
			</td>
			<td style="text-align: center">
				<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{x.pdbId.value | lowercase}}_deposited_chain_front_image-800x800.png" width="200px">
				<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{x.pdbId.value | lowercase}}_deposited_chain_side_image-800x800.png" width="200px">
				<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{x.pdbId.value | lowercase}}_deposited_chain_top_image-800x800.png" width="200px">
			</td>
			<td>
				<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pmid.value}}">
	                <img uib-tooltip="Link to publication in PubMed" style="height: 14px; margin-top: -3px"
	                     data-ng-src="/static/wiki/img/pubmedGlyph.png">
	            </a>
			</td>
		</tr>
	</table>
</div>
<button type="button" class="btn btn-default" data-toggle="modal"
        data-target="#pdbForm_button">
    Add an annotation
</button>
<!-- Modal -->
<div class="modal fade" id="pdbForm_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <pdb-form ng-hide="showHelp" gene="$ctrl.protein"></pdb-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>
