<div class="row">
  <div class="col-sm-12 text-center">
    <h4 class="smallCaps">Protein Overview</h4>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item text-left">
          <span class="badge">{{ $ctrl.protein.productType.id | typeFilter}}</span>
          Product Type
        </li>
        <li class="list-group-item text-left">
          <span class="badge">{{$ctrl.protein.mass}}</span>
          Mass
        </li>
        <li class="list-group-item text-left">
          <span class="badge">{{$ctrl.protein.uniprot}}</span>
          UniProt ID
        </li>
        <li class="list-group-item text-left">
          <span class="badge">{{$ctrl.protein.refseqProt}}</span>
          NCBI RefSeq ID
        </li>
        <li class="list-group-item text-left">
          <span style="float:right;">
            <a class="link" uib-tooltip="Blast Protein" href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome&QUERY={{$ctrl.protein.sequenceProt}}" target="_blank">
              <span class="glyphicon glyphicon-share" aria-hidden="true"></span> NCBI
            </a>
          </span>
          BLAST
        </li>
        <li class="list-group-item text-center">
          <p>
            Download Protein Fasta
          </p>
          <a uib-tooltip="Download Protein Fasta" class="btn themeButton-tiny"  href="https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=protein&rettype=FASTA&id={{$ctrl.protein.refseqProt}}">
            Download <span class="glyphicon glyphicon-download"></span>
          </a>
        </li>
      </ul>
      <p class="well">
        <span class="text-pink"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> References: </span>
        <a target="_blank" href="http://www.uniprot.org/uniprot/{{$ctrl.protein.uniprot}}">
            UniProt
        </a>,
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/protein?term={{$ctrl.protein.refseqProt}}">
            NCBI
        </a>,
        <a target="_blank" href="http://www.wikidata.org/wiki/{{$ctrl.protein.proteinQID}}">
            WikiData
        </a>
      </p>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-8">
    <h4 class="smallCaps">Protein DataBank ID(s)</h4>
    <div class="table-responsive">
    	<table class="table table-hover">

    		<th>PDB ID</th>
    		<th>Image</th>
    		<th>References</th>

    		<tr ng-repeat="x in $ctrl.protein.pdbIds">
    			<td>
    				<a target="_blank" href="http://www.rcsb.org/structure/{{ x.pdbId.value }}">{{x.pdbId.value}}</a>
    			</td>
    			<td style="text-align: center">
    				<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{x.pdbId.value | lowercase}}_deposited_chain_front_image-800x800.png" width="200px">
    				<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{x.pdbId.value | lowercase}}_deposited_chain_side_image-800x800.png" width="200px">
    				<img ng-src="https://www.ebi.ac.uk/pdbe/static/entry/{{x.pdbId.value | lowercase}}_deposited_chain_top_image-800x800.png" width="200px">
    			</td>
    			<td>
    				<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ x.pmid.value}}">
    	                <img uib-tooltip="Link to publication in PubMed" style="height: 14px; margin-top: -3px"
    	                     data-ng-src="/static/wiki/img/pubmedGlyph.png">
    	            </a>
    			</td>
    		</tr>
    	</table>
    </div>
    <div class="well text-center">
      <button type="button" class="btn themeButton-tiny" ng-click="$ctrl.checkAuthorization('pdbForm_button')">
          Add an annotation <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="pdbForm_button" tabindex="-1" role="dialog"
     aria-labelledby="refModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px">
            <pdb-form ng-hide="showHelp" gene="$ctrl.protein"></pdb-form>
            <help-form ng-show="showHelp"></help-form>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" style="float:left" ng-click="showHelp = !showHelp">
            		<span ng-hide="showHelp">Need Help?</span>
            		<span ng-show="showHelp">Back</span>
            	</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="showHelp = false">Close</button>
            </div>
        </div>
    </div>
</div>
