
.loader_gif {
    background-image: url('../img/largeSpin.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.jbrowse {
    width:100%;
    height: 100%;
    border: solid #99c2ff 3px;
    border-radius: 3px;
}