html, body{height:100%;}
.main-landing-page{background:url("../img/chlam_background.jpg")no-repeat top left;background-size:100% 100%;color:whitesmoke;border:solid #385d94 3px;text-align:center;min-height:100%;padding-top:50px;}
#get-started{background-color:#e68a00;color:rgb(255, 255, 255);transition:all 0.5s;font-size:20px;text-align:center;}
#get-started span{display:inline-block;position:relative;transition:0.5s;}
#get-started span:after{content:'\00bb';position:absolute;opacity:0;right:-20px;transition:0.5s;}
#get-started:hover span{padding-right:25px;}
#get-started:hover span:after{opacity:1;right:0;}