html, body{margin:auto auto;font-family:Tahoma, Geneva, sans-serif;overflow:auto;}
.mainPage{}
.wd-logo{max-height:40px;float:right;clear:right;}
.box{height:100%;}
.wg-header{height:100%;border:solid #3366cc 2px;border-radius:15px 15px 3px 3px;padding:10px 25px 10px 25px;background-color:#3366cc;color:whitesmoke;}
.bottomRow{height:100%;}
.formBorder{border-bottom:solid #00cc00 3px;border-radius:3px;padding:10px;}
div[class^="col-md-"]{height:100%;padding:1px;}
.typeahead-demo .custom-popup-wrapper{position:absolute;top:100%;left:0;z-index:1000;display:none;background-color:#f9f9f9;}
.typeahead-demo .custom-popup-wrapper > .message{padding:10px 20px;border-bottom:1px solid #ddd;color:#868686;}
.typeahead-demo .custom-popup-wrapper > .dropdown-menu{position:static;float:none;display:block;min-width:160px;background-color:transparent;border:none;border-radius:0;box-shadow:none;}
.dropdown-menu{max-height:100px;width:600px;overflow:auto;}
#hpylori{max-width:60%;height:auto;text-align:center;}
.ng-table-header{text-align:left;color:#3366cc;}
td{color:#3366cc;}
.my-custom-table-class tbody tr:hover{background-color:#dddddd;}
.node1{border-radius:10px;}
.search-example{background:none;border:none;margin:0;padding:0;}
a:hover{cursor:pointer;}
.fadedColor{color:lightgrey;}
.strongColor{color:#1FDFFF;}
.strongColor:hover{color:#1FDFFF;}
.loading-img{background:url("../../../../static/wiki/img/gears.gif") center center no-repeat;height:100%;z-index:20;}
.overlay{background:#e9e9e9;position:absolute;top:0;right:0;bottom:0;left:0;opacity:0.5;}
/* a{color: #385d94;} */
.center{margin-left: auto;margin-right: auto;}
/* .navbar-toggle .icon-bar{background-color: #fff;}
#myNavbar .btn {-webkit-transition-duration: 0.4s; transition-duration: 0.4s;}
#myNavbar .btn:hover {background-color: white;} */
.modal-open {padding-right: 0 !important}
/* .navbar-custom {background: linear-gradient(#2a466f, #4674b9); color: whitesmoke; margin-bottom: 0px; border-radius: 0px; min-height: 68px;}
.navbar-custom a {color: whitesmoke; margin-top: 8px}
.dropdown-menu .dropdown-item {color: whitesmoke}
.container-fluid{color:#385d94} */
.filter-header{position: relative; margin-bottom: 0px}
.filter-header span{background-color: white; padding-right: 10px; font-size: 17px}
.filter-header:after{position: absolute;height: 0.5em;border-top: 1px solid #3366cc; z-index:-1; content: "";bottom:0;left:0;right:0;}
.indented{display: inline; margin-left: 20px}
.filter-row {padding: 0px; margin: 0px 0px 5px 0px}
.filter-by{text-align: left; background: initial; min-height: initial; color: #3366cc;}
.filter-by button {padding-top: 0px; padding-bottom: 0px; margin-bottom: 10px}
.filter-result{margin-top:15px; width: 100%; height: 100%;
    overflow: hidden; text-overflow: ellipsis; display: inline-block;
    border: 1px solid #CCCCCC; border-radius: 4px}
.filter-result:hover{cursor:pointer; background-color: #E6E6E6}
.filter-img {width: 32px; height: 32px; margin-top: -5px}
#jbrowse-div {height: 60vh; border: solid #99c2ff 3px; border-radius: 3px}